/***********************************************
  Footer Container
************************************************/

.footer {
	margin-top: 40px;
	color: #4d4d4d;
	.footer-social {
		margin-top: 16px;
		.footer-social-list {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				display: flex;
				align-items: center;
				background-color: #4d4d4d;
				height: 38px;
				width: 38px;
				border-radius: 30px;
				box-sizing: border-box;
				margin-right: 24px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 auto;
					height: 38px;
					width: 38px;
				}
			}
		}
	}
	.footer-nav {
		color: #777;
		font-size: 13px;
		position: relative;
		.footer-nav-area {
			box-sizing: border-box;
			padding: 16px;
			font-size: 13px;
			.footer-nav-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				li {
					padding: 0 16px;
					border-right: 1px solid #aaa;
					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}
	.copyright {
		text-align: center;
		color: #4d4d4d;
		font-size: 13px;
		margin: 8px 0 24px;
	}
}
