/***********************************************
  Header Container
************************************************/

.header {
	position: fixed;
	z-index: 999 !important;
	background-color: $white;
	width: 100%;
	// box-shadow: 0 1px 20px 3px rgba($color: $black02, $alpha: 0.2);
	border-bottom: 1px solid $bg-blue;
	.headerCnt {
		height: 75px;
		@include max-screen($screen-tb) {
			height: 65px;
		}
		@include max-screen($screen-sm) {
			height: 55px;
		}
		&__left {
			height: 100%;
			width: calc(100% - 200px);
			display: flex;
			align-items: center;
			justify-content: start;
			@include max-screen($screen-tb) {
				width: 50%;
			}
			@include max-screen($screen-sm) {
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}
			.headerHeight {
				height: 100%;
			}
		}
		&__logo {
			display: flex;
			align-items: center;
			@include max-screen($screen-sm) {
				flex-wrap: wrap;
				flex-direction: column;
				align-items: flex-start !important;
			}
			img {
				max-width: 261px;
				// @include max-screen($screen-sm) {
				// 	max-width: 120px;
				// }
			}
		}
		&__right {
			height: 100%;
			width: 200px;
			position: relative;
			display: flex;
			&.active {
				@include min-screen(1279px) {
					display: flex !important;
				}
			}
			@include max-screen($screen-tb) {
				width: 100%;
				display: none;
				position: absolute;
				left: 0;
				background-color: $grey02;
				top: 63px;
				position: fixed;
				overflow-y: auto;
				height: calc(100vh - 63px);
				z-index: 999;
			}
			@include max-screen($screen-sm) {
				top: 53px;
				height: calc(100vh - 53px);
			}
			.headerCtn-cart {
				margin-right: 24px;
			}
		}
		&__nav {
			height: 100%;
			@include max-screen($screen-tb) {
				height: auto;
			}
			.navList {
				height: 100%;
				display: flex;
				@include max-screen($screen-tb) {
					display: block;
					height: auto;
				}
				&__item {
					position: relative;
					height: 100%;

					@include max-screen($screen-tb) {
						&::before {
							content: none;
						}
					}
					a {
						font-size: $text-md;
						padding: 0 2rem;
						height: 100%;
						display: flex;
						align-items: center;
						border-top: 2px solid $white;
						border-bottom: 2px solid $white;
						font-weight: 400;
						@include max-screen($screen-tb) {
							padding: 2rem 3rem;
							border-bottom: 1px solid $grey03;
							border-top: none;
							font-size: 18px;
						}
						@include max-screen($screen-md) {
							font-size: 16px;
						}
						@include max-screen($screen-sm) {
							padding: 2rem;
						}
						@include max-screen($screen-xs) {
							padding: 1.5rem 2rem;
						}
						&.active {
							@include min-screen(1280px) {
								border-bottom: 2px solid $brown;
							}
							@include max-screen($screen-tb) {
								border-bottom: 1px solid $brown;
							}
						}
						&:hover {
							color: $brown;
							@include min-screen(1280px) {
								border-bottom: 2px solid $brown;
							}
							@include max-screen($screen-tb) {
								border-bottom: 1px solid $brown;
							}
						}
					}
					.contentSP {
						position: relative;
						&::before {
							position: absolute;
							content: "";
							background: url(../img/common/icon_arrow_bottom.png) no-repeat
								center;
							background-size: contain;
							width: 12px;
							height: 12px;
							top: 2.7rem;
							right: 2rem;
						}
						@include max-screen($screen-tb) {
							&::before {
								top: 2.2rem;
								right: 3rem;
							}
						}
						@include max-screen($screen-xs) {
							&::before {
								top: 1.9rem;
							}
						}
						&:hover {
							&::before {
								background: url(../img/common/icon_green_bottom.png) no-repeat
									center;
								background-size: contain;
							}
						}
						padding-right: 4.4rem;
						&.trans {
							@include max-screen($screen-tb) {
								&::before {
									background: url(../img/common/icon_arrow_bottom.png) no-repeat
										center;
									background-size: contain;
									transform: rotate(180deg);
									top: 2.7rem;
								}
								&:hover {
									&::before {
										background: url(../img/common/icon_green_bottom.png)
											no-repeat center;
										background-size: contain;
									}
								}
							}
							@include max-screen($screen-xs) {
								&::before {
									top: 2.2rem;
								}
							}
						}
					}
					&:first-child {
						.content {
							position: relative;
							&::before {
								position: absolute;
								content: "";
								background: url(../img/common/icon_arrow_bottom.png) no-repeat
									center;
								background-size: contain;
								width: 12px;
								height: 12px;
								top: 2.7rem;
								right: 2rem;
							}
							@include max-screen($screen-tb) {
								&::before {
									top: 2.2rem;
									right: 3rem;
								}
							}
							&:hover {
								&::before {
									background: url(../img/common/icon_green_bottom.png) no-repeat
										center;
									background-size: contain;
								}
							}
							padding-right: 4.4rem;
							&.trans {
								@include max-screen($screen-tb) {
									&::before {
										background: url(../img/common/icon_arrow_bottom.png)
											no-repeat center;
										background-size: contain;
										transform: rotate(180deg);
										top: 2.7rem;
									}
									&:hover {
										&::before {
											background: url(../img/common/icon_green_bottom.png)
												no-repeat center;
											background-size: contain;
										}
									}
								}
							}
						}
					}
					&:last-child {
						a {
							@include min-screen(1440px) {
								padding: 0 4.6rem;
							}
							padding: 0 3.2rem;
							@include max-screen($screen-tb) {
								padding: 2rem 3rem;
								// border-bottom: none;
							}
							@include max-screen($screen-sm) {
								padding: 2rem;
							}
							@include max-screen($screen-xs) {
								padding: 1.5rem 2rem;
							}
						}
					}
					.listDrop {
						background-color: $grey02;
						box-shadow: 0 3px 6px rgba($color: $black02, $alpha: 0.16);
						display: none;
						z-index: 999;
						position: absolute;
						min-width: 166px;
						top: 76px;
						&:hover {
							display: block !important;
						}
						&__item {
							&:last-child {
								a {
									border-bottom: none;
								}
							}
						}
						&__link {
							border-bottom: 1px solid $grey03;
							border-top: none !important;
							padding: 1rem 2rem !important;
							&:hover {
								border-bottom: 1px solid $brown;
								color: $brown;
								background-color: $white;
								&::before {
									background: url(../img/common/icon_arrow_right.png) no-repeat;
									background-size: contain;
								}
							}
							&::before {
								right: 1rem;
							}
						}
					}
				}
				.content {
					position: relative;
					padding-bottom: 0;
					border-bottom: 2px solid #fff;
					cursor: pointer;
					&::after {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: 1;
						top: 0;
						left: 0;
					}
					&.active {
						@include min-screen(1280px) {
							border-bottom: 2px solid $brown;
							//margin-bottom: -3px;
						}
						@include max-screen($screen-tb) {
							border-bottom: 1px solid $brown;
						}
					}
					&:hover {
						border-bottom: 2px solid $brown;
						a {
							color: $brown;
						}
					}
					a {
						padding: 0 3rem 0rem 3rem;
						&.active {
							position: relative;
							bottom: -2px;
							padding-bottom: 4px;
						}
					}
					@include max-screen($screen-tb) {
						&::before {
							top: 2.2rem;
							right: 3rem;
						}
					}
				}
				.itemPC {
					cursor: pointer;
					&::after {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: 1;
						top: 0;
						left: 0;
					}
					&:hover {
						.navLinks {
							color: $brown;
							border-bottom: 2px solid $brown;
							@include max-screen($screen-tb) {
								border-bottom: 1px solid $brown;
							}
						}
						.listDrop {
							display: block !important;
						}
					}
				}
				.itemSP {
					// position: relative;
					cursor: pointer;
					&:hover {
						.navLinks {
							color: $brown;
							border-bottom: 1px solid $brown;
							// &::before {
							// 	transform: rotate(180deg);
							// }
						}
					}
					.contentSP {
						position: relative;
						&__wrapper {
							position: absolute;
							width: 100%;
							height: 63px;
							top: 0;
							left: 0;
							z-index: 99;
							@include max-screen($screen-xs) {
								height: 53px;
							}
							// &.active {
							// 	border-bottom: 1px solid $brown;
							// }
						}
					}
				}
			}
		}
		&__inquiry {
			width: 130px;
			@include max-screen($screen-tb) {
				margin: 0 auto;
				padding: 2rem;
				width: auto;
			}
			a {
				font-size: 20px;
				border-radius: 8px;
				border: 1px solid $grey01;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				color: $white;
				background: $orange01;
				padding: 3px 10px;
				@include max-screen($screen-tb) {
					font-size: 18px;
					// height: 35px;
					padding: 15px 0px;
				}
				@include max-screen($screen-md) {
					padding: 15px 0px;
					font-size: 16px;
				}
			}
		}

		/* js_hamburger */
		.js__hamburger,
		.js__hamburger span {
			display: inline-block;
			box-sizing: border-box;
		}
		.js__hamburger {
			display: none;
			@include max-screen($screen-tb) {
				width: 50px;
				height: 50px;
				background: $white;
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 5px;
				text-align: center;
				z-index: 200;
				display: block;
			}
			@include max-screen($screen-sm) {
				top: 0;
			}
			span {
				width: 25px;
				height: 4px;
				background: $brown;
				position: absolute;
				right: 20px;
				transition: all 0.4s;
				&:nth-of-type(1) {
					top: 17px;
				}
				&:nth-of-type(2) {
					top: 25px;
				}
				&:nth-of-type(3) {
					top: 33px;
				}
			}
			&.active {
				span {
					&:nth-of-type(1) {
						top: 20px;
						-webkit-transform: translateY(3px) rotate(-45deg);
						transform: translateY(3px) rotate(-45deg);
					}
					&:nth-of-type(2) {
						opacity: 0;
					}
					&:nth-of-type(3) {
						top: 32px;
						-webkit-transform: translateY(-9px) rotate(45deg);
						transform: translateY(-9px) rotate(45deg);
					}
				}
				& + .globalNavi {
					display: block;
				}
			}
		}
	}
	.menu {
		position: absolute;
		width: 100%;
		z-index: 999;
		background-color: #fff;
		display: none;
		@media screen and (max-height: 600px) {
			.menu__box {
				height: calc(100vh - 75px);
				overflow-y: auto;
			}
		}
		@include max-screen($screen-tb) {
			display: none !important;
		}
		&.close {
			@include max-screen($screen-tb) {
				display: none !important;
			}
		}
		&.open {
			display: block !important;
		}
		&__service {
			width: 200px;
			background-color: $brown;
			z-index: 99;
			padding: 3.5rem 0;
			@include max-screen($screen-tb) {
				width: 150px;
			}
			.txtWhite {
				font-size: 2rem;
				padding-bottom: 1rem;
				border-bottom: 2px solid $white;
				padding-left: 1rem;
				@include max-screen($screen-tb) {
					font-size: 1.6rem;
				}
			}
		}
		&__box {
			width: 100%;
			@include max-screen($screen-tb) {
				width: 100%;
			}
			.menu__boxTitle {
				font-size: $heading-md;
				font-weight: 500;
				margin-top: 7px;
				@include max-screen($screen-tb) {
					font-size: $heading-sm;
				}
				@include max-screen($screen-md) {
					font-size: 18px;
				}
			}
			.menuList {
				min-width: 300px;
				//margin-left: 3rem;
				padding: 24px 0;
				@include max-screen($screen-tb) {
					min-width: 280px;
				}
				&__item {
					text-align: center;
					padding: 24px 24px;
					border-radius: 5px;
					&.memnuList-wid {
						.links {
							max-width: 262px;
						}
					}
					.links {
						max-width: 230px;
						.menuList__img {
							margin-bottom: 12px;
							img {
								max-width: 210px;
								width: 100%;
							}
						}
						span {
							width: 100%;
							font-size: $text-md;
							text-align: center;
							@include max-screen($screen-tb) {
								padding-left: 1rem;
								font-size: $text-sm;
							}
							@include max-screen($screen-md) {
								font-size: 16px;
							}
						}
						&.active {
							background-color: $white;
							color: $brown;
						}
					}
					&:hover {
						-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
						-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
						box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
					}
				}
			}
			.tabs {
				width: calc(100% - 300px);
				@include max-screen($screen-tb) {
					width: calc(100% - 280px);
				}
				.navChild {
					padding: 3rem;
					padding-top: 2rem;
					margin: 3.5rem 0;
					background-color: $white;
					&:nth-child(4) {
						height: 290px;
					}
					&:nth-child(5) {
						height: 290px;
					}
					@include max-screen($screen-tb) {
						padding: 1.5rem;
					}
					&__ttl {
						padding-bottom: 1.7rem;
						border-bottom: 1px solid $grey03;
						.text {
							font-size: 1.8rem;
							font-weight: 400;
							padding-right: 1rem;
							// width: 47%;
							line-height: 1.5;
							// @include min-screen(1440px) {
							//   padding-right: 1rem;
							// }
						}
						.about {
							border-radius: 3px;
							border: 1px solid $brown;
							padding: 0.5rem 1.5rem 0.5rem 1rem;
							// width: 53%;
							&::before {
								right: 1rem;
							}
							span {
								font-size: 1.4rem;
								padding-bottom: 0.1rem;
								padding-right: 1rem;
							}
							&.-setWidth1 {
								// @include min-screen(1440px) {
								//   width: 50%;
								// }
								width: 50%;
							}
							&.-setWidth2 {
								width: 77%;
								@include max-screen(1400px) {
									width: 84%;
								}
							}
						}
					}
					.childList {
						&__item {
							border-bottom: 1px solid $grey03;
							.links {
								padding: 1.5rem;
								@include max-screen($screen-tb) {
									padding: 1rem;
								}
								.image {
									width: 195px;
									.boxTxt {
										// margin-left: 1rem;
										&__lg {
											@include font-size(20);
											font-weight: 700;
											line-height: 1.1;
										}
										&__sm {
											@include font-size(10);
										}
									}
								}
								span {
									font-size: 1.2rem;
									line-height: 1.5;
									width: calc(100% - 195px);
									padding-right: 2rem;
									&.-arrGreen {
										&::before {
											right: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.bg_grey {
			height: 600px;
			overflow-y: scroll;
		}
		&.menu1 {
			.bg_grey {
				height: 380px;
				overflow-y: scroll;
			}
		}
	}
	.otherMenu {
		.menu__area {
			.menu__box {
				.menuList {
					display: flex;
					padding-bottom: 3rem;
					justify-content: space-around;
					&__item {
						width: 20%;
						&.memnuList-wid {
							width: calc(100% / 3);
						}
						.links {
							margin: 0 auto;
						}
						&:nth-child(4) {
							.links {
								border-top: none;
							}
						}
						&:nth-child(5) {
							.links {
								border-top: none;
							}
						}
						&:nth-child(6) {
							.links {
								border-top: none;
							}
						}
					}
				}
			}
		}
		&.menu3 {
			.menu__area {
				.menu__box {
					.menuList {
						&__item {
							width: calc(100% / 6);
							text-align: left;
							@include max-screen($screen-tb) {
								padding: 0 20px;
							}
							.links {
								span {
									font-size: $text-md;
								}
							}
						}
					}
				}
			}
		}
	}
	.menuWrapper {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		left: 0;
		top: 75;
		display: none;
		z-index: 99;
		@include max-screen($screen-tb) {
			top: 65;
		}
		&.active {
			display: block;
			@include max-screen($screen-tb) {
				display: none;
			}
		}
	}
	.menuSP {
		display: none;
		background-color: $white;
		position: relative;
		z-index: 999;
		@include min-screen(1280px) {
			display: none !important;
		}
		.menuList {
			&__item {
				.links {
					padding: 2rem 4rem;
					border-bottom: 1px solid $grey03;
					&::before {
						right: 4rem;
					}
					@include max-screen($screen-sm) {
						padding: 2rem 3rem;
					}
					@include max-screen($screen-xs) {
						padding: 1.5rem 3rem;
					}
					&:hover {
						color: $brown;
						&::before {
							// background: url(../img/common/icon_arrow_right.png) no-repeat center;
							background-size: contain;
						}
					}
				}
			}
			.-arrGrey {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					right: 40px;
					width: 12px;
					height: 12px;
					background: url(../img/common/icon_arrow_bottom.png) no-repeat;
					background-size: contain;
				}
				&.-arrRight {
					&:before {
						background-image: url(../img/common/icon_arr_grey.png);
					}
				}
			}
			.activeMenuSm {
				display: block;
				&:before {
					transform: rotate(180deg);
				}
				&.-arrRight {
					&:before {
						transform: translateY(-50%);
					}
				}
			}
			.menuSmall {
				background-color: rgba(215, 225, 230, 0.67);
				display: none;
				&__item {
					.link {
						@include font-size(14);
						padding: 2rem 4rem !important;
						position: relative;
						&:before {
							content: "";
							position: absolute;
							left: 3rem;
							background-image: url(../img/common/icon_point.png);
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							top: 50%;
							transform: translateY(-50%);
							width: 6px;
							height: 6px;
						}
						@include max-screen($screen-xs) {
							padding: 1.5rem 4rem !important;
						}
					}
				}
			}
		}
	}
}
#edittingNowOnTheOurCms {
	.header {
		width: calc(100% - 253px);
		.inner {
			padding-left: 3rem;
			padding-right: 3rem;
			.headerCnt {
				&__left {
					@include max-screen(1520px) {
						width: 180px;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
					}
					.name {
						@include max-screen(1520px) {
							padding-left: 0;
						}
					}
				}
				&__right {
					@include max-screen(1520px) {
						width: calc(100% - 180px);
					}
				}
				&__nav {
					.navList {
						&__item {
							a {
								@include max-screen(1520px) {
									padding: 0 1.5rem;
								}
							}
							&:last-child {
								a {
									@include max-screen(1520px) {
										padding: 0 2rem;
									}
								}
							}
						}
						.content {
							a {
								@include max-screen(1520px) {
									padding: 0 4rem 0 1.5rem;
								}
							}
						}
					}
				}
			}
		}
	}
}

/***********************************************
  Header
************************************************/
body {
	&.js-mobile-menu-open {
		overflow: hidden;
		height: 100%;
	}
}

/***********************************************
  Hambuger
************************************************/
#nav-icon3 {
	width: 35px;
	height: 32px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #fff;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	span:nth-child(1) {
		top: 0px;
	}
	span:nth-child(2),
	span:nth-child(3) {
		top: 12px;
	}
	span:nth-child(4) {
		top: 24px;
	}
	&.open span:nth-child(1) {
		top: 12px;
		width: 0%;
		left: 50%;
	}
	&.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
		top: 24px;
		width: 0%;
		left: 50%;
	}
}
@-webkit-keyframes showMenuItems {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes showMenuItems {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes smoothScroll {
	0% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes smoothScroll {
	0% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
