.pageContact {
	display: none;
	position: fixed;
	z-index: 999;
	padding-top: 100px;
	padding-bottom: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	&.model-open {
		display: block;
	}
	.close {
		font-size: 25px;
	}
	.contact-title {
		font-size: $heading-md;
		font-weight: bold;
		//text-align: center;
		// padding-top: 24px;
		margin-bottom: 10px;
		@include max-screen($screen-tb) {
			font-size: $heading-mdsm;
		}
		@include max-screen($screen-md) {
			font-size: $heading-sm;
		}
		@include max-screen($screen-sm) {
			font-size: $heading-smxs;
		}
	}
	.contact-txt {
		font-size: $text-md;
		font-weight: 500;
		margin-bottom: 58px;
		@include max-screen($screen-tb) {
			font-size: $text-sm;
		}
		@include max-screen($screen-md) {
			font-size: $text-xs;
			margin-bottom: 40px;
		}
	}
	.contact-inner {
		max-width: 1322px;
		margin: 0 auto;
		background: #fff;
		padding: 24px;
		position: relative;
		z-index: 2;
		border-radius: 12px;
		.form-contact {
			.form-group {
				display: flex;
				flex-wrap: wrap;
				@include max-screen($screen-sm) {
					display: block;
				}
				label {
					display: flex;
					width: 350px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-weight: 700;
					font-size: $text-tb;
					margin-bottom: 24px;
					padding-right: 24px;
					@include max-screen($screen-tb) {
						width: 300;
						font-size: $text-md;
					}
					@include max-screen($screen-md) {
						width: 250px;
						font-size: $text-sm;
					}
					@include max-screen($screen-sm) {
						width: 100%;
						justify-content: flex-start;
						margin-bottom: 10px;
					}
					&.alignItems {
						padding-top: 10px;
						align-items: flex-start;
						@include max-screen($screen-sm) {
							padding-top: 0;
						}
					}
					.necessary_input {
						font-size: $text-md;
						font-weight: 500;
						color: #fff;
						background: #da100b;
						padding: 5px 20px;
						border-radius: 5px;
						@include max-screen($screen-tb) {
							font-size: $text-sm;
							padding: 3px 15px;
						}
						@include max-screen($screen-sm) {
							font-size: $text-xs;
							margin-left: 15px;
							padding: 2px 15px 1px 15px;
							font-size: 12px;
						}
					}
				}
				.form-control {
					width: calc(100% - 350px);
					height: 68px;
					padding: 10px;
					margin-bottom: 24px;
					border: 1px solid #818181;
					border-radius: 12px;
					font-size: $text-md;
					@include max-screen($screen-tb) {
						height: 55px;
					}
					@include max-screen($screen-md) {
						height: 45px;
						font-size: $text-sm;
					}
					@include max-screen($screen-sm) {
						width: 100%;
						font-size: $text-xs;
					}
				}
				textarea {
					&.form-control {
						height: 300px;
						@include max-screen($screen-md) {
							height: 200px;
						}
					}
				}
			}
		}

		.policyWrap {
			.policyTitle {
				font-size: $heading-md;
				font-weight: 700;
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					font-size: $heading-mdsm;
				}
				@include max-screen($screen-md) {
					font-size: $heading-sm;
				}
				@include max-screen($screen-sm) {
					font-size: $heading-smxs;
				}
			}
			.privacyPolicyWrap {
				font-size: $text-md;
				border: 1px solid #818181;
				border-radius: 8px;
				padding: 12px;
				color: #616161;
				@include max-screen($screen-md) {
					font-size: $text-sm;
				}
				@include max-screen($screen-xs) {
					font-size: $text-xs;
				}
				p {
					margin-bottom: 24px;
				}
				.privacyPolicyWrap-list {
					li {
					}
				}
			}
		}
		.agreeBox {
			text-align: center;
			font-size: $text-md;
			margin-bottom: 48px;
			margin-top: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include max-screen($screen-md) {
				font-size: $text-sm;
			}
			@include max-screen($screen-xs) {
				font-size: $text-xs;
			}

			.agreeCheck {
				width: 20px;
				height: 20px;
				margin-right: 20px;
				cursor: pointer;
				@include max-screen($screen-md) {
					margin-right: 15px;
				}
				@include max-screen($screen-xs) {
					margin-right: 10px;
					width: 15px;
					height: 15px;
				}
			}
			label {
				cursor: pointer;
			}
		}
		.btnWrap {
			text-align: center;
			display: block;
			.btn {
				font-size: $text-md;
				color: #fff;
				max-width: 266px;
				text-align: center;
				margin: 0 auto;
				width: 100%;
				height: 72px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #5e3b1d;
				border-radius: 8px;
				@include max-screen($screen-tb) {
					height: 60px;
				}
				@include max-screen($screen-md) {
					height: 50px;
					font-size: $text-sm;
				}
			}
		}
	}

	.bg-overlay {
		height: 100%;
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 0;
	}
}
