//===========================================================
// TOP PAGE
//===========================================================
.rainbow {
	.mainTop {
		.title-buttom {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			@include max-screen($screen-tb) {
			}
			.title {
				font-size: $heading-md;
				margin: 0 10px;
				padding: 14px 24px;
				font-weight: bold;
				@include max-screen($screen-tb) {
					font-size: $heading-sm;
				}
				@include max-screen($screen-md) {
					padding: 14px 0px;
				}
				@include max-screen($screen-sm) {
					font-size: $heading-smxs;
				}
			}
			.btn {
				color: #7f4c0a;
				font-size: $text-sm;
				letter-spacing: 0.75px;
				margin: 0 10px;
				position: relative;
				padding-right: 42px;
				@include max-screen($screen-md) {
					font-size: 15px;
					padding-right: 30px;
				}
				&::after {
					content: "";
					background: url(../img/common/next.png) no-repeat center center;
					position: absolute;
					right: 0;
					width: 26px;
					height: 26px;
					top: 50%;
					transform: translateY(-50%);
					background-size: 100%;
					@include max-screen($screen-md) {
						width: 23px;
						height: 23px;
						background-size: 100%;
					}
				}
			}
		}
		.topPage {
			padding-top: 7.5rem;
			.top__search {
				max-width: 552px;
				margin: 0 auto;
				padding-top: 48px;
				padding-bottom: 72px;
				@include max-screen($screen-tb) {
					padding-top: 30px;
					padding-bottom: 50px;
				}
				@include max-screen($screen-md) {
					padding-top: 30px;
					padding-bottom: 50px;
				}
				label {
					color: $white;
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 20px;
					background: $orange01;
					padding: 10px;
					display: inline-block;
					@include max-screen($screen-md) {
						font-size: 16px;
						padding: 8px;
					}
				}
				.searchForm {
					position: relative;
					input {
						padding: 10px 10px 10px 24px;
						border: 1px solid $orange01;
						width: 100%;
						height: 48px;
						outline: 0;
					}
					.icon__formSeach {
						background: url(../img/common/search.png) no-repeat center center
							#ed9526;
						padding: 15px 37px;
						text-align: center;
						display: inline-block;
						position: absolute;
						right: 0;
						height: 48px;
					}
				}
			}
			.topFarms-box-img {
				margin-bottom: 24px;
				img {
					width: 100%;
				}
			}
			.topFarms {
				display: flex;
				flex-wrap: wrap;
				@include max-screen($screen-md) {
					display: block;
				}
				.topFarms-box {
					width: calc(50% - 12px);
					margin-right: 24px;
					margin-bottom: 24px;
					@include max-screen($screen-md) {
						width: 100%;
					}
					&:nth-child(2n) {
						margin-right: 0;
					}
					.images {
						text-align: center;
						img {
							width: 100%;
						}
					}
					.images-top {
						text-align: center;
						img {
							width: 100%;
						}
					}
					.images-bottom {
						text-align: center;
						padding: 30px 0px;
						.image-zoom {
							display: inline-block;
							cursor: pointer;
							&:hover {
								transform: scale(1.2);
							}
						}
						.txt-zoom {
							font-size: $text-tb;
							color: #5e3b1d;
							font-weight: 500;
							@include max-screen($screen-md) {
								font-size: $text-md;
							}
						}
					}
				}
			}
			.topNewRecipe {
				// .title-buttom {
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	justify-content: space-between;
				// 	align-items: center;
				// 	@include max-screen($screen-tb) {
				// 	}
				// 	.title {
				// 		font-size: 48px;
				// 		margin: 0 10px;
				// 		padding: 14px 24px;
				// 		font-weight: bold;
				// 		@include max-screen($screen-tb) {
				// 			font-size: 32px;
				// 		}
				// 		@include max-screen($screen-md) {
				// 			font-size: 24px;
				// 			padding: 14px 0px;
				// 		}
				// 		@include max-screen($screen-sm) {
				// 			font-size: 18px;
				// 		}
				// 	}
				// 	.btn {
				// 		color: #7f4c0a;
				// 		font-size: 20px;
				// 		letter-spacing: 0.75px;
				// 		margin: 0 10px;
				// 		position: relative;
				// 		padding-right: 42px;
				// 		@include max-screen($screen-md) {
				// 			font-size: 16px;
				// 			padding-right: 30px;
				// 		}
				// 		&::after {
				// 			content: "";
				// 			background: url(../img/common/next.png) no-repeat center center;
				// 			position: absolute;
				// 			right: 0;
				// 			width: 32px;
				// 			height: 32px;
				// 			top: 50%;
				// 			transform: translateY(-50%);
				// 			@include max-screen($screen-md) {
				// 				width: 25px;
				// 				height: 25px;
				// 				background-size: 100%;
				// 			}
				// 		}
				// 	}
				// }
				.topNewRecipe-box {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 30px;
					@include max-screen($screen-sm) {
						display: block;
					}
					.box {
						width: calc(50% - 12px);
						margin-right: 24px;
						padding: 24px;
						border-radius: 5px;
						@include max-screen($screen-sm) {
							width: 100%;
							margin-right: 0;
							padding: 20px;
						}
						&:last-child {
							margin-right: 0;
						}
						&:hover {
							-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
						}
						.img {
							margin-bottom: 24px;
							@include max-screen($screen-md) {
								margin-bottom: 15px;
							}
						}
						.txt {
							font-size: $heading-mdsm;
							margin: 10px 0;
							@include max-screen($screen-tb) {
								font-size: $heading-sm;
							}
							@include max-screen($screen-md) {
								// font-size: $heading-xsss;
							}
						}
					}
				}
			}
			.topProduct {
				.topProduct-box {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 30px;
					@include max-screen($screen-sm) {
						display: block;
					}
					.box {
						width: calc(100% / 3 - 16px);
						margin-right: 24px;
						padding: 24px;
						border-radius: 5px;
						@include max-screen($screen-md) {
							width: calc(50% - 12px);
						}
						@include max-screen($screen-sm) {
							width: 100%;
							margin-right: 0;
						}
						&:nth-child(3n) {
							margin-right: 0px;
							@include max-screen($screen-md) {
								margin-right: 24px;
							}
						}
						&:nth-child(2n) {
							@include max-screen($screen-md) {
								margin-right: 0;
							}
						}
						&:hover {
							-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
						}
						.img {
							margin-bottom: 24px;
							@include max-screen($screen-md) {
								margin-bottom: 15px;
								text-align: center;
							}
						}
						.txt {
							font-size: $heading-mdsm;
							text-align: center;
							font-weight: 500;
							@include max-screen($screen-tb) {
								font-size: $heading-sm;
							}
							@include max-screen($screen-md) {
								// font-size: $heading-xsss;
							}
						}
					}
				}
			}
			.topNewProduct {
				margin-bottom: 30px;
			}
			.topRanking {
				margin-bottom: 30px;
				.title-buttom {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 24px;
					@include max-screen($screen-xs) {
						display: block;
					}
					.title {
						font-size: $heading-md;
						margin: 0 10px;
						padding: 14px 12px;
						font-weight: bold;
						@include max-screen($screen-tb) {
							font-size: $heading-mdsm;
						}
						@include max-screen($screen-md) {
							font-size: $heading-sm;
						}
						@include max-screen($screen-sm) {
							font-size: 18px;
						}
						span {
							font-size: $heading-xs;
							display: block;
							color: #616161;
							margin-top: 10px;
							@include max-screen($screen-md) {
								font-size: 14px;
							}
						}
					}
					.btn-right {
						.btn {
							display: flex;
							justify-content: flex-end;
							flex-wrap: wrap;
							align-items: center;
							padding-right: 0;
							margin-right: 0;
							@include max-screen($screen-xs) {
								justify-content: flex-start;
							}
							.brown {
								background: #5e3b1d;
								border-radius: 50px;
								margin: 0px 10px;
								font-size: $text-sm;
								padding: 2px 25px;
								color: $white;
								@include max-screen($screen-md) {
									font-size: 14px;
									margin: 0 5px;
								}
							}
							.white {
								border-radius: 50px;
								margin: 0px 0px 0 10px;
								font-size: $text-sm;
								padding: 2px 25px;
								color: #5e3b1d;
								background: $white;
								border: 1px solid #5e3b1d;
								@include max-screen($screen-md) {
									font-size: 14px;
									margin: 0 5px;
								}
							}
							&::after {
								display: none;
							}
						}
						.day {
							font-weight: 500;
							font-size: $text-sm;
							@include max-screen($screen-md) {
								font-size: 14px;
							}
							@include max-screen($screen-xs) {
								padding-left: 20px;
							}
						}
					}
				}
				.topRanking-list {
					.ranking-wrapper {
						padding: 0 24px;
						.ranking-item {
							.boxImg {
								position: relative;
								margin-bottom: 24px;
								@include max-screen($screen-md) {
									margin-bottom: 15px;
								}
								.new {
									padding: 5px 24px;
									background: #da100b;
									color: $white;
									position: absolute;
									top: 0;
									left: 0;
								}
								img {
									width: 100%;
								}
							}
							.ranking-info {
								.title {
									color: #da100b;
									font-weight: 500;
									font-size: $heading-mdsm;
									margin-bottom: 10px;
									@include max-screen($screen-tb) {
										font-size: $heading-sm;
									}
									@include max-screen($screen-md) {
										font-size: 18px;
										margin-bottom: 5px;
									}
								}
								.txt {
									font-size: $text-md;
									margin-bottom: 10px;
									@include max-screen($screen-md) {
										font-size: $text-sm;
									}
								}
								.ranking-info-bottom {
									display: flex;
									justify-content: space-between;
									align-items: baseline;
									.money {
										font-weight: bold;
										font-size: $heading-md;
										color: #da100b;
										@include max-screen($screen-tb) {
											font-size: $heading-mdsm;
										}
										@include max-screen($screen-md) {
											font-size: 18px;
										}
										span {
											font-size: $text-sm;
											font-weight: normal;
											color: #414141;
											display: block;
											@include max-screen($screen-md) {
												font-size: 14px;
											}
										}
									}
									.btn {
										padding: 5px 25px;
										background: $brown;
										color: #fff;
										font-size: $text-sm;
										border-radius: 50px;
										@include max-screen($screen-tb) {
											font-size: 17px;
											padding: 5px 20px;
										}
										@include max-screen($screen-md) {
											font-size: 14px;
										}
										a {
											color: $white;
											font-weight: 500;
										}
									}
								}
							}
						}
					}
				}
			}
			.topRecommended {
				margin-bottom: 30px;
				// .title-buttom {
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	justify-content: space-between;
				// 	align-items: center;
				// 	.title {
				// 		font-size: 48px;
				// 		margin: 0 10px;
				// 		padding: 14px 24px;
				// 		font-weight: bold;
				// 	}
				// 	.btn {
				// 		color: #7f4c0a;
				// 		font-size: 20px;
				// 		letter-spacing: 0.75px;
				// 		margin: 0 10px;
				// 		position: relative;
				// 		padding-right: 42px;
				// 		&::after {
				// 			content: "";
				// 			background: url(../img/common/next.png) no-repeat center center;
				// 			position: absolute;
				// 			right: 0;
				// 			top: 0;
				// 			width: 32px;
				// 			height: 32px;
				// 		}
				// 	}
				// }
				.topRecommended-box {
					display: flex;
					flex-wrap: wrap;
					padding: 0 40px;
					@include max-screen($screen-md) {
						padding: 0 20px;
					}
					.box {
						width: calc(100% / 3 - 16px);
						margin-right: 24px;
						padding: 24px;
						border-radius: 5px;
						@include max-screen($screen-md) {
							width: calc(50% - 15px);
							padding: 15px 0;
							margin-right: 30px;
						}
						@include max-screen($screen-xs) {
							width: 100%;
							margin-right: 0;
						}
						&:nth-child(3n) {
							margin-right: 0px;
							@include max-screen($screen-md) {
								margin-right: 30px;
							}
							@include max-screen($screen-xs) {
								margin-right: 0;
							}
						}
						&:nth-child(2n) {
							@include max-screen($screen-md) {
								margin-right: 0;
							}
						}
						&:hover {
							-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
						}
						img {
							width: 100%;
						}
					}
				}
			}
			.topHealthy {
				margin-bottom: 30px;
				// .title-buttom {
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	justify-content: space-between;
				// 	align-items: center;
				// 	.title {
				// 		font-size: 48px;
				// 		margin: 0 10px;
				// 		padding: 14px 24px;
				// 		font-weight: bold;
				// 	}
				// 	.btn {
				// 		color: #7f4c0a;
				// 		font-size: 20px;
				// 		letter-spacing: 0.75px;
				// 		margin: 0 10px;
				// 		position: relative;
				// 		padding-right: 42px;
				// 		&::after {
				// 			content: "";
				// 			background: url(../img/common/next.png) no-repeat center center;
				// 			position: absolute;
				// 			right: 0;
				// 			top: 0;
				// 			width: 32px;
				// 			height: 32px;
				// 		}
				// 	}
				// }
				.topHealthy-box {
					display: flex;
					flex-wrap: wrap;
					padding: 0 40px;
					@include max-screen($screen-md) {
						padding: 0 20px;
					}
					@include max-screen($screen-xs) {
						width: 100%;
					}
					.box {
						width: calc(100% / 3 - 16px);
						margin-right: 24px;
						padding: 24px;
						border-radius: 5px;
						@include max-screen($screen-md) {
							width: calc(50% - 15px);
							margin-right: 30px;
							padding: 15px 0px;
						}
						@include max-screen($screen-xs) {
							width: 100%;
							margin-right: 0;
						}
						&:nth-child(3n) {
							margin-right: 0px;
							@include max-screen($screen-md) {
								margin-right: 30px;
							}
							@include max-screen($screen-xs) {
								margin-right: 0;
							}
						}
						&:nth-child(2n) {
							margin-right: 0;
						}
						&:hover {
							-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
						}
						.img {
							margin-bottom: 24px;
							@include max-screen($screen-md) {
								margin-bottom: 15px;
							}
							img {
								width: 100%;
							}
						}
						.txt {
							font-size: $heading-mdsm;
							text-align: center;
							@include max-screen($screen-tb) {
								font-size: $heading-sm;
							}
							@include max-screen($screen-md) {
								font-size: 18px;
							}
						}
					}
				}
			}
			.instagram {
				margin-bottom: 38px;
				.title-buttom {
					margin-bottom: 38px;
					@include max-screen($screen-md) {
						margin-bottom: 24px;
					}
					.title {
						position: relative;
						padding-left: 55px;
						font-size: 20px;
						margin-left: 0;
						@include max-screen($screen-tb) {
							padding-left: 47px;
						}
						@include max-screen($screen-md) {
							padding-left: 35px;
						}
						&::before {
							content: "";
							position: absolute;
							background: url(../img/common/icon-ins.png) no-repeat center;
							height: 48px;
							width: 48px;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							background-size: 100%;
							@include max-screen($screen-tb) {
								height: 40px;
								width: 40px;
							}
							@include max-screen($screen-md) {
								height: 30px;
								width: 30px;
								background-size: 100%;
							}
						}
					}
				}
			}
			.brandList {
				.title {
					font-size: $heading-md;
					font-weight: bold;
					margin-bottom: 38px;
					@include max-screen($screen-tb) {
						font-size: $heading-mdsm;
					}
					@include max-screen($screen-md) {
						font-size: $heading-sm;
						margin-bottom: 25px;
					}
					@include max-screen($screen-sm) {
						font-size: 18px;
						margin-bottom: 15px;
					}
				}
				.brandList-box {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					max-width: 1336px;
					margin: 0 auto;
					.brandList-item {
						max-width: 262px;
						padding: 10px;
						border-radius: 5px;
						@media screen and (max-width: 600px) {
							width: 100%;
							margin: 0 auto;
						}
						&:hover {
							-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
							box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
						}
						.img {
							margin-bottom: 24px;
							text-align: center;
							@include max-screen($screen-md) {
								margin-bottom: 15px;
							}
							@include max-screen($screen-sm) {
								margin-bottom: 5px;
							}
						}
						.brandList-item-text {
							text-align: center;
							font-size: $text-md;
							font-weight: 500;
							@include max-screen($screen-md) {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}
