.pageGhee-detail {
	.title-h2 {
		font-size: $heading-md;
		font-weight: 700;
		@include max-screen($screen-tb) {
			font-size: $heading-mdsm;
		}
		@include max-screen($screen-md) {
			font-size: $heading-sm;
		}
		@include max-screen($screen-sm) {
			font-size: $heading-smxs;
		}
	}
	.gheeDetail-box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 36px;
		@include max-screen($screen-md) {
			margin-bottom: 24px;
		}
		@include max-screen($screen-sm) {
			display: block;
		}
		.gheeDetail-image {
			max-width: 580px;
			width: 40%;
			@include max-screen($screen-sm) {
				max-width: 100%;
				width: 100%;
				text-align: center;
				margin-bottom: 15px;
			}
		}
		.gheeDetail-infor {
			width: 60%;
			padding-left: 60px;
			@include max-screen($screen-tb) {
				padding-left: 45px;
			}
			@include max-screen($screen-md) {
				padding-left: 30px;
			}
			@include max-screen($screen-sm) {
				width: 100%;
				padding-left: 0;
			}
			.gheeDetail-title {
				font-size: $heading-tb;
				font-weight: bold;
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					font-size: $heading-md;
				}
				@include max-screen($screen-md) {
					font-size: $heading-sm;
				}
				@include max-screen($screen-sm) {
					// font-size: $heading-xs;
				}
			}
			.gheeDetail-money {
				font-size: 40px;
				color: #da100b;
				font-weight: bold;
				background: rgba(251, 229, 201, 0.5);
				padding: 24px;
				margin-bottom: 78px;
				@include max-screen($screen-tb) {
					padding: 15px 20px;
					font-size: 30px;
					margin-bottom: 50px;
				}
				@include max-screen($screen-md) {
					padding: 10px 15px;
					margin-bottom: 30px;
				}
			}
			.item-detail-quantity {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 78px;
				@include max-screen($screen-tb) {
					margin-bottom: 60px;
				}
				@include max-screen($screen-md) {
					margin-bottom: 50px;
				}
				@include max-screen($screen-sm) {
					margin-bottom: 30px;
				}
				.quantity-label {
					font-size: $text-tb;
					margin-right: 24px;
					@include max-screen($screen-md) {
						font-size: $text-sm;
						margin-right: 20px;
					}
					@include max-screen($screen-sm) {
						margin-right: 10px;
					}
					&.quantity-labelRight {
						margin-left: 24px;
						@include max-screen($screen-md) {
							margin-left: 20px;
						}
						@include max-screen($screen-md) {
							margin-left: 10px;
						}
					}
				}
				.quantity-amount {
					position: relative;
					display: inline-block;
					max-width: 288px;
					width: 100%;
					height: 100%;
					@include max-screen($screen-tb) {
						max-width: 220px;
					}
					@include max-screen($screen-md) {
						max-width: 180px;
					}
					@include max-screen($screen-sm) {
						max-width: 150px;
					}
					input {
						padding: 12px;
						font-size: 18px;
						width: 100%;
						height: 72px;
						text-align: center;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						border: solid 1px #ccc;
						font-size: $heading-md;
						@include max-screen($screen-tb) {
							height: 60px;
						}
						@include max-screen($screen-md) {
							height: 40px;
							font-size: $heading-sm;
						}
						@include max-screen($screen-xs) {
							font-size: $heading-xs;
						}
					}
					.amount-upcount {
						top: 0px;
						right: 0px;
						border: solid 1px #ccc;
						height: 100%;
						width: 60px;
						box-sizing: border-box;
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						@include max-screen($screen-tb) {
							width: 50px;
						}
						@include max-screen($screen-md) {
							width: 40px;
							padding: 5px;
						}
						@include max-screen($screen-xs) {
							width: 30px;
						}
					}
					.amount-downcount {
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						top: 0px;
						left: 0px;
						border: solid 1px #ccc;
						height: 100%;
						width: 60px;
						box-sizing: border-box;
						@include max-screen($screen-tb) {
							width: 50px;
						}
						@include max-screen($screen-md) {
							width: 40px;
							padding: 5px;
						}
						@include max-screen($screen-xs) {
							width: 30px;
							padding: 5px;
						}
					}
				}
			}
			.gheeDetail-btn {
				display: flex;
				.btn {
					max-width: 360px;
					padding: 15px 5px;
					width: 100%;
					text-align: center;
					color: #ed9526;
					border: 2px solid #ed9526;
					border-radius: 8px;
					margin-right: 24px;
					font-size: $text-tb;
					@include max-screen($screen-tb) {
						padding: 12px 5px;
					}
					@include max-screen($screen-md) {
						padding: 8px 5px;
						font-size: $text-md;
					}
					@include max-screen($screen-sm) {
						font-size: $text-sm;
					}
					&:last-child {
						margin-right: 0;
					}
					&.active {
						background: #ed9526;
						color: #fff;
					}
				}
			}
		}
	}
	.gheeDetail-description {
		.title-description {
			font-weight: normal;
			padding: 16px 0px;
		}
		.description-textRed {
			color: #da100b;
			margin-bottom: 12px;
		}
		.txt {
			margin-bottom: 24px;
		}
		.description-list {
			li {
				margin-bottom: 24px;
				padding-left: 20px;
				position: relative;
				&::before {
					content: "";
					width: 3px;
					height: 3px;
					background: #414141;
					position: absolute;
					border-radius: 50%;
					top: 50%;
					left: 8px;
					transform: translateY(-50%);
				}
			}
		}
	}
	.topNewProduct {
		.topNewProduct-title {
			margin-bottom: 28px;
		}
	}
}
