.pageKeto {
	padding-top: 75px;
	@include max-screen($screen-md) {
		padding-top: 65px;
	}
	@include max-screen($screen-sm) {
		padding-top: 55px;
	}
	.keto-box {
		display: flex;
		margin-bottom: 50px;
		@include max-screen($screen-md) {
			margin-bottom: 30px;
			display: block;
		}
		.keto-boxText {
			width: 50%;
			padding: 24px 24px 12px 24px;
			@include max-screen($screen-tb) {
				padding: 20px 20px 12px 20px;
			}
			@include max-screen($screen-md) {
				padding: 20px 15px 12px 15px;
				width: 100%;
			}
			.title-h2 {
				font-size: $heading-md;
				font-weight: 700;
				margin-bottom: 12px;
				color: $brown;
				@include max-screen($screen-tb) {
					font-size: $heading-mdsm;
				}
				@include max-screen($screen-md) {
					font-size: $heading-sm;
				}
				@include max-screen($screen-sm) {
					font-size: $heading-smxs;
				}
			}
			.txt {
				margin-bottom: 12px;
			}
		}
		.keto-boxOrage {
			width: 50%;
			background: #f2b05c;
			text-align: center;
			padding: 24px 0 12px 0;
			@include max-screen($screen-tb) {
				padding: 20px 0px 12px 0px;
			}
			@include max-screen($screen-md) {
				width: 100%;
			}
			.boxOrage-title {
				font-size: $heading-md;
				font-weight: 700;
				color: $brown;
				margin-bottom: 7px;
				@include max-screen($screen-tb) {
					font-size: $heading-mdsm;
				}
				@include max-screen($screen-md) {
					font-size: 18px;
				}
				.subTitle {
					font-size: $text-md;
					font-weight: 500;
					display: block;
					@include max-screen($screen-tb) {
						font-size: $text-sm;
					}
					@include max-screen($screen-md) {
						font-size: 15px;
					}
				}
			}
			.boxOrage-txt {
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.boxOrage-img {
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					margin-bottom: 20px;
				}
				@include max-screen($screen-md) {
					margin-bottom: 15px;
				}
			}
		}
		.keto-boxOrage-img {
			width: 50%;
			@include max-screen($screen-md) {
				width: 100%;
			}
		}
		&.flex-rverse {
			.keto-boxOrage {
				padding: 24px 0px;
				@include max-screen($screen-tb) {
					padding: 20px 0px;
				}
				@include max-screen($screen-md) {
					margin-bottom: 30px;
				}
				.boxOrage-title {
					margin-bottom: 24px;
					@include max-screen($screen-tb) {
						margin-bottom: 20px;
					}
					@include max-screen($screen-md) {
						margin-bottom: 15px;
					}
				}
			}
			.keto-boxOrage-img {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.customer-reviews {
	padding: 0px 50px;
	margin-bottom: 45px;
	@include max-screen($screen-md) {
		margin-bottom: 30px;
		padding: 0px 15px;
	}
	@include max-screen($screen-xs) {
		padding: 0;
	}
	.customer-title {
		font-size: $heading-md;
		font-weight: 700;
		color: $brown;
		text-align: center;
		margin-bottom: 50px;
		@include max-screen($screen-tb) {
			font-size: $heading-mdsm;
		}
		@include max-screen($screen-md) {
			font-size: $heading-sm;
			margin-bottom: 30px;
		}
		@include max-screen($screen-sm) {
			font-size: $heading-smxs;
		}
		.customer-title-sub {
			font-size: $text-md;
			font-weight: 500;
			margin-top: 12px;
			display: block;
			@include max-screen($screen-tb) {
				font-size: $text-sm;
			}
			@include max-screen($screen-sm) {
				font-size: 16px;
			}
		}
	}
	.customer-ctn {
		display: flex;
		flex-wrap: wrap;
		@include max-screen($screen-md) {
		}
		.customer-item {
			width: 25%;
			padding: 0px 12px;
			@include max-screen($screen-md) {
				width: 50%;
				padding: 0px 10px;
				margin-bottom: 15px;
			}
			@include max-screen($screen-xs) {
				width: 100%;
				padding: 0px 7px;
			}
			.customer-avata {
				text-align: center;
				border-radius: 50%;
				margin-bottom: 12px;
				img {
					border-radius: 50%;
				}
			}
			.reviews {
				text-align: center;
				margin-bottom: 12px;
			}
			// .customer-txt {
			// 	font-size: 16px;
			// }
		}
	}
}
