.pageAbout {
	padding-top: 75px;
	.about-box {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 50px;
		@include max-screen($screen-md) {
			display: block;
			margin-bottom: 30px;
		}
		.about-boxText {
			width: 50%;
			padding: 24px;
			border-left: 2px solid #f1f1f1;
			@include max-screen($screen-md) {
				width: 100%;
				padding: 15px;
				margin-bottom: 15px;
			}
			.title-h2 {
				font-size: $heading-md;
				color: $brown;
				font-weight: bold;
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					font-size: $heading-mdsm;
				}
				@include max-screen($screen-md) {
					font-size: $heading-sm;
					margin-bottom: 15px;
				}
				@include max-screen($screen-sm) {
					font-size: $heading-smxs;
				}
				span {
					font-size: $text-md;
					font-weight: 500;
					display: block;
					margin-top: 12px;
					@include max-screen($screen-tb) {
						font-size: $text-sm;
					}
					@include max-screen($screen-md) {
						font-size: 16px;
						margin-top: 7px;
					}
				}
			}
			.sub-title {
				font-weight: bold;
				font-size: $text-md;
				color: #414141;
				margin-bottom: 12px;
				@include max-screen($screen-tb) {
					font-size: $text-sm;
				}
				@include max-screen($screen-md) {
					font-size: 16px;
					margin-bottom: 7px;
				}
			}
			.txt {
				margin-bottom: 24px;
				@include max-screen($screen-md) {
					margin-bottom: 15px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			&.boder-none {
				border-left: none;
			}
		}
		.about-boximg {
			width: 50%;
			@include max-screen($screen-md) {
				width: 100%;
				text-align: center;
			}
		}
		&.flex-rverse {
			flex-direction: row-reverse;
		}
	}
}
