.pageInstagram {
	padding-top: 75px;
	@include max-screen($screen-md) {
		padding-top: 65px;
	}
	@include max-screen($screen-sm) {
		padding-top: 55px;
	}
	.instagram {
		margin-bottom: 24px;
		.title-buttom {
			margin-bottom: 38px;
			@include max-screen($screen-md) {
				margin-bottom: 24px;
			}
			.title {
				position: relative;
				padding-left: 55px;
				font-size: 20px;
				margin-left: 0;
				@include max-screen($screen-tb) {
					padding-left: 47px;
				}
				@include max-screen($screen-md) {
					padding-left: 35px;
				}
				&::before {
					content: "";
					position: absolute;
					background: url(../img/common/icon-ins.png) no-repeat center;
					height: 48px;
					width: 48px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-size: 100%;
					@include max-screen($screen-tb) {
						height: 40px;
						width: 40px;
					}
					@include max-screen($screen-md) {
						height: 30px;
						width: 30px;
						background-size: 100%;
					}
				}
			}
		}
	}
	.instagram-btn {
		text-align: center;
		.ins-btn {
			font-size: 20px;
			font-weight: 500;
			color: #fff;
			padding: 7px 25px;
			background: $brown;
			border-radius: 8px;
			display: inline-block;
		}
	}
}
