.pageCart {
	.cart-title {
		font-size: $heading-md;
		font-weight: bold;
		margin-bottom: 48px;
		text-align: center;
		@include max-screen($screen-tb) {
			font-size: $heading-mdsm;
		}
		@include max-screen($screen-md) {
			font-size: $heading-sm;
		}
		@include max-screen($screen-sm) {
			font-size: $heading-smxs;
		}
	}
	.cart-container {
		.cart-table {
			overflow: scroll;
			margin-bottom: 24px;
		}
		.basket {
			width: 100%;
			@include max-screen($screen-sm) {
				width: 768px;
			}
			tr {
				width: 100%;
				th {
					background: #fbe5c9;
					font-size: $text-tb;
					font-weight: 500;
					padding: 5px 10px;
					text-align: center;
					@include max-screen($screen-tb) {
						font-size: $text-md;
					}
					@include max-screen($screen-md) {
						font-size: $text-sm;
					}
					&.maxWid-250 {
						max-width: 250px;
						width: 20%;
					}
				}
				td {
					font-size: $text-md;
					text-align: center;
					padding: 24px 5px;
					@include max-screen($screen-tb) {
						font-size: $text-sm;
					}
					@include max-screen($screen-sm) {
						font-size: $text-xs;
					}
					.quantity-amount {
						position: relative;
						display: inline-block;
						max-width: 288px;
						width: 100%;
						height: 100%;
						@include max-screen($screen-tb) {
							max-width: 220px;
						}
						@include max-screen($screen-md) {
							max-width: 180px;
						}
						@include max-screen($screen-sm) {
							max-width: 150px;
						}
						input {
							padding: 12px;
							font-size: 18px;
							width: 100%;
							height: 40px;
							text-align: center;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							border: solid 0px #ccc;
							font-size: $heading-sm;
							@include max-screen($screen-tb) {
								height: 30px;
							}
							@include max-screen($screen-md) {
								height: 30px;
								font-size: $heading-sm;
							}
							@include max-screen($screen-xs) {
								font-size: $heading-xs;
							}
						}
						.amount-upcount {
							top: 0px;
							right: 0px;
							border: solid 0px #ccc;
							height: 100%;
							width: 40px;
							box-sizing: border-box;
							position: absolute;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 7px;
							background: #e0e0e0;
							border-radius: 5px;
							@include max-screen($screen-tb) {
								width: 30px;
							}
							@include max-screen($screen-md) {
								padding: 5px;
							}
							@include max-screen($screen-xs) {
							}
							img {
								max-width: 15px;
							}
						}
						.amount-downcount {
							position: absolute;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 0px;
							left: 0px;
							border: solid 0px #ccc;
							height: 100%;
							width: 40px;
							box-sizing: border-box;
							padding: 7px;
							background: rgba(224, 224, 224, 0.3);
							@include max-screen($screen-tb) {
								width: 30px;
							}
							@include max-screen($screen-md) {
								padding: 5px;
							}
							@include max-screen($screen-xs) {
								padding: 5px;
							}
							img {
								max-width: 15px;
							}
						}
					}
					&.basket-price {
						font-size: $heading-md;
						font-weight: 700;
						color: #da100b;
						@include max-screen($screen-tb) {
							font-size: $heading-mdsm;
						}
					}
					&.basket-total {
						text-align: right;
						border-top: 2px solid #fbe5c9;
						span {
							font-size: $heading-mdsm;
							font-weight: 500;
							@include max-screen($screen-tb) {
								font-size: $heading-sm;
							}
							@include max-screen($screen-md) {
								font-size: $heading-smxs;
							}
							@include max-screen($screen-sm) {
								font-size: $heading-xsss;
							}
							&.colorRed {
								color: #da100b;
								font-size: $heading-md;
								padding-left: 58px;
								font-weight: 700;
								@include max-screen($screen-tb) {
									font-size: $heading-mdsm;
								}
								@include max-screen($screen-md) {
								}
								@include max-screen($screen-sm) {
								}
							}
						}
					}
					&.basket-btn {
					}
					&.textAlign-left {
						text-align: left;
					}
				}
			}
		}
		.btn-wrap-order {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@include max-screen($screen-sm) {
				justify-content: center;
			}
			.btn {
				max-width: 360px;
				width: 100%;
				color: #fff;
				font-size: $text-md;
				background: #ed9526;
				padding: 10px;
				height: 72px;
				font-weight: 500;
				border-radius: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include max-screen($screen-md) {
					height: 60px;
				}
				@include max-screen($screen-sm) {
					height: 50px;
					font-size: $text-xs;
				}
			}
		}
	}
}
