.pageRecipe {
	padding-top: 75px;
	@include max-screen($screen-md) {
		padding-top: 65px;
	}
	@include max-screen($screen-sm) {
		padding-top: 55px;
	}
	.recipe {
		margin: 48px 0;
		@include max-screen($screen-md) {
			margin: 30px 0;
		}
		.title-recipe {
			font-size: $heading-md;
			font-weight: 700;
			margin-bottom: 24px;
			@include max-screen($screen-tb) {
				font-size: $heading-mdsm;
			}
			@include max-screen($screen-md) {
				font-size: $heading-sm;
			}
			@include max-screen($screen-sm) {
				font-size: $heading-smxs;
			}
		}
		.recipe-box {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 24px;
			@include max-screen($screen-md) {
				margin-bottom: 15px;
			}
			.recipe-item {
				width: calc(25% - 18px);
				padding: 36px 24px;
				margin-right: 24px;
				border-radius: 5px;
				margin-bottom: 12px;
				@include max-screen($screen-md) {
					width: calc(50% - 6px);
					padding: 30px 15px;
					margin-right: 12px;
					margin-bottom: 10px;
				}
				@include max-screen($screen-xs) {
					width: 100%;
					margin-right: 0;
				}
				&:nth-child(4n) {
					margin-right: 0;
				}
				&:nth-child(2n) {
					@include max-screen($screen-md) {
						margin-right: 0;
					}
				}
				&:hover {
					-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
					-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
					box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
				}
				.recipe-img {
					margin-bottom: 12px;
					text-align: center;
					img {
						text-align: center;
						width: 100%;
					}
				}
				.recipe-txt {
					font-size: $heading-mdsm;
					font-weight: bold;
					text-align: center;
					@include max-screen($screen-tb) {
						font-size: $heading-sm;
					}
					@include max-screen($screen-md) {
						font-size: $heading-smxs;
					}
					@include max-screen($screen-sm) {
						font-size: $heading-xs;
					}
					@include max-screen($screen-xs) {
						font-size: $heading-xsss;
					}
				}
			}
		}
		.recipe-btn {
			text-align: center;
			.rec-btn {
				font-size: $text-md;
				font-weight: 500;
				color: #fff;
				padding: 7px 25px;
				background: $brown;
				border-radius: 8px;
				display: inline-block;
			}
		}
	}
	.instagram {
		margin-bottom: 24px;
		.title-buttom {
			margin-bottom: 38px;
			@include max-screen($screen-md) {
				margin-bottom: 24px;
			}
			.title {
				position: relative;
				padding-left: 55px;
				font-size: 20px;
				margin-left: 0;
				@include max-screen($screen-tb) {
					padding-left: 47px;
				}
				@include max-screen($screen-md) {
					padding-left: 35px;
				}
				&::before {
					content: "";
					position: absolute;
					background: url(../img/common/icon-ins.png) no-repeat center;
					height: 48px;
					width: 48px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-size: 100%;
					@include max-screen($screen-tb) {
						height: 40px;
						width: 40px;
					}
					@include max-screen($screen-md) {
						height: 30px;
						width: 30px;
						background-size: 100%;
					}
				}
			}
		}
	}
}
