.pageGhee {
	padding-top: 75px;
	.titlePage {
		margin: 24px 0px 12px 0px;
		text-align: center;
		@include max-screen($screen-md) {
			margin: 15px 0px 10px 0px;
		}
		.titleH1 {
			font-size: $heading-md;
			font-weight: 700;
			color: $brown;
			@include max-screen($screen-tb) {
				font-size: $heading-mdsm;
			}
			@include max-screen($screen-md) {
				font-size: $heading-sm;
			}
			@include max-screen($screen-sm) {
				font-size: $heading-smxs;
			}
		}
		.sub-titleH1 {
			font-size: $text-md;
			font-weight: 500;
			color: $brown;
			margin-top: 12px;
			@include max-screen($screen-tb) {
				font-size: $text-sm;
			}
			@include max-screen($screen-md) {
				font-size: $text-xs;
			}
		}
	}
	.ghee-category {
		display: flex;
		flex-wrap: wrap;
		padding: 24px;
		@include max-screen($screen-sm) {
			padding: 20px;
		}
		li {
			width: 25%;
			border: 1px solid #414141;
			border-right: 0;
			&:last-child {
				border-right: 1px solid #414141;
			}
			@include max-screen($screen-sm) {
				width: 50%;
				margin-bottom: 5px;
				&:nth-child(2n) {
					border-right: 1px solid #414141;
				}
			}
			a {
				padding: 5px;
				display: block;
				text-align: center;
			}
		}
	}
	.topNewProduct-list {
		display: flex;
		flex-wrap: wrap;
		.newProduct-wrapper {
			width: calc(25% - 18px);
			margin-right: 24px;
			padding: 24px;
			@include max-screen($screen-md) {
				width: 50%;
				margin-right: 0;
				padding: 20px;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			@include max-screen($screen-xs) {
				width: 100%;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}
