.pageGhee1 {
	.title-gheeSelect {
		color: #ed9526;
		font-size: $heading-md;
		text-align: center;
		position: relative;
		margin: 62px 50px 50px 50px;
		@include max-screen($screen-tb) {
			font-size: $heading-mdsm;
		}
		@include max-screen($screen-md) {
			font-size: $heading-sm;
			margin: 30px 30px;
		}
		@include max-screen($screen-sm) {
			margin: 30px 0px;
			font-size: $heading-smxs;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 8px;
			background: #ed9526;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			@include max-screen($screen-md) {
				height: 5px;
			}
		}
		span {
			display: inline-block;
			padding: 0 36px;
			background: #fff;
			position: relative;
			z-index: 10;
			@include max-screen($screen-md) {
				padding: 0px 20px;
			}
		}
	}
	.select-boxImage {
		display: flex;
		align-items: center;
		margin-bottom: 96px;
		justify-content: center;
		@include max-screen($screen-tb) {
			margin-bottom: 70px;
		}
		@include max-screen($screen-md) {
			margin-bottom: 50px;
		}
		@include max-screen($screen-sm) {
			margin-bottom: 30px;
		}
	}
	.productGhee1 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 48px;
		@include max-screen($screen-sm) {
			display: block;
		}
		.productGhee1-item {
			margin-bottom: 48px;
			@include max-screen($screen-md) {
				margin-bottom: 24px;
			}
		}
		.productGhee1-left {
			width: 50%;
			padding-right: 24px;
			@include max-screen($screen-sm) {
				width: 100%;
				padding-right: 0;
			}
		}
		.productGhee1-right {
			width: 50%;
			padding-left: 24px;
			@include max-screen($screen-sm) {
				width: 100%;
				padding-left: 0;
			}
		}
	}
	.ghee-benefits {
		text-align: center;
		margin-bottom: 24px;
		@include max-screen($screen-md) {
			margin-bottom: 20px;
		}
	}

	.pageGhee1-keto {
		background: #f2b05c;
		color: #5e3b1d;
		padding: 48px;
		margin-bottom: 24px;
		@include max-screen($screen-md) {
			margin-bottom: 20px;
			padding: 24px;
		}
		@include max-screen($screen-xs) {
			padding: 24px 15px;
		}
		.keto-boxOrage {
			text-align: center;
			.boxOrage-title {
				font-size: $heading-md;
				font-weight: bold;
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					font-size: $heading-mdsm;
				}
				@include max-screen($screen-md) {
					margin-bottom: 20px;
					font-size: $heading-sm;
				}
				@include max-screen($screen-sm) {
					font-size: $heading-smxs;
				}
				.subTitle {
					font-size: $text-md;
					font-weight: 500;
					display: block;
					margin-top: 12px;
					@include max-screen($screen-md) {
						font-size: $text-sm;
					}
				}
			}
			.boxOrage-img {
				margin-bottom: 24px;
				@include max-screen($screen-md) {
					margin-bottom: 20px;
				}
			}
			.boxOrage-txt {
				margin-bottom: 24px;
				@include max-screen($screen-md) {
					margin-bottom: 20px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.pageGhee1-ketoBreakdown {
			margin-bottom: 48px;
			@include max-screen($screen-md) {
				margin-bottom: 30px;
			}
		}
	}
}
