.pageRecipe-detail {
	.title-h2 {
		font-size: $heading-md;
		font-weight: 700;
		@include max-screen($screen-md) {
			font-size: $heading-sm;
		}
	}
	.recipeDetail-box {
		.recipeDetail-title {
			padding: 34px 0px 22px 0;
			font-size: $heading-md;
			font-weight: 700;
			@include max-screen($screen-md) {
				font-size: $heading-sm;
			}
		}
		.recipeDetail-item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 24px;
			@include max-screen($screen-sm) {
				display: block;
			}
			.recipeDetail-image {
				max-width: 624px;
				width: 40%;
				padding-right: 24px;
				position: relative;
				@include max-screen($screen-md) {
					padding-right: 20px;
				}
				@include max-screen($screen-sm) {
					width: 100%;
					max-width: 100%;
					text-align: center;
					padding-right: 0;
					margin-bottom: 15px;
				}
				img {
					width: 100%;
				}
				.text-drink {
					position: absolute;
					top: 11px;
					left: 11px;
					font-size: $text-md;
					padding: 5px 24px;
					background: #da100b;
					border-radius: 5px;
					border: 1px solid #fff;
					color: #fff;
					@include max-screen($screen-md) {
						font-size: $text-sm;
					}
				}
			}
			.recipeDetail-infor {
				width: 60%;
				padding: 0 24px;
				@include max-screen($screen-md) {
					padding: 0 20px;
				}
				@include max-screen($screen-sm) {
					width: 100%;
					padding: 0;
				}
				p {
					font-size: $text-tb;
					@include max-screen($screen-md) {
						font-size: $text-md;
					}
					@include max-screen($screen-sm) {
						font-size: $text-sm;
					}
					&.txt {
						margin-bottom: 24px;
						@include max-screen($screen-sm) {
							margin-bottom: 15px;
						}
					}
				}
				.list {
					li {
						margin-bottom: 24px;
						font-size: $text-tb;
						@include max-screen($screen-md) {
							font-size: $text-md;
						}
						@include max-screen($screen-sm) {
							font-size: $text-sm;
							margin-bottom: 15px;
						}
						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
		.recipeDetail-share {
			.title-share {
				font-size: $text-md;
				margin-bottom: 12px;
			}
			.list-share {
				display: flex;
				padding: 10px 12px;
				margin-bottom: 24px;
				@include max-screen($screen-tb) {
					flex-wrap: wrap;
				}
				li {
					max-width: 267px;
					width: 100%;
					text-align: center;
					padding: 22px 50px;
					border-radius: 8px;
					font-size: $text-md;
					color: #fff;
					font-weight: 500;
					margin-right: 20px;
					margin-bottom: 20px;
					@include max-screen($screen-md) {
						font-size: $text-sm;
						padding: 10px 25px;
						max-width: 150px;
						margin-right: 10px;
						margin-bottom: 10px;
					}
					@include max-screen($screen-sm) {
						max-width: 110px;
						padding: 5px 15px;
					}
					a {
						color: #fff;
					}
					&:last-child {
						margin-right: 0;
					}
					&.twitter {
						background: #00acfb;
					}
					&.facebook {
						background: #0459a2;
					}
					&.end {
						background: #028ad8;
					}
					&.pocket {
						background: #da100b;
					}
					&.line {
						background: #2ab930;
					}
					&.copy {
						background: #414141;
					}
				}
			}
		}
	}
	.instagram {
		margin-bottom: 24px;
		.title-buttom {
			margin-bottom: 38px;
			@include max-screen($screen-md) {
				margin-bottom: 24px;
			}
			.title {
				position: relative;
				padding-left: 55px;
				font-size: 20px;
				margin-left: 0;
				@include max-screen($screen-tb) {
					padding-left: 47px;
				}
				@include max-screen($screen-md) {
					padding-left: 35px;
				}
				&::before {
					content: "";
					position: absolute;
					background: url(../img/common/icon-ins.png) no-repeat center;
					height: 48px;
					width: 48px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-size: 100%;
					@include max-screen($screen-tb) {
						height: 40px;
						width: 40px;
					}
					@include max-screen($screen-md) {
						height: 30px;
						width: 30px;
						background-size: 100%;
					}
				}
			}
		}
	}
}
