@charset "utf-8";

//------------------------------------------------------------
//    【必須】サイト設定 - 変数
//------------------------------------------------------------

//■フォント

$defaut-family: "Roboto", sans-serif;
$gothic-font: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic,
	"ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
	"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$hiragino-font: "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
	"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
//■アニメーション

$default-transition: true;
$default-transition-duration: 0.5s;

//■マウスオーバー時のリンク画像の透過

$default-img-hover: false;
$default-img-hover-opacity: 0.7;

//------------------------------------------------------------
//    【カスタム】変数
//------------------------------------------------------------
//■サイト幅
$width-site: 1110px;
$width-menu: 1384px;

//■ブレイクポイント
$screen-tb: 1279.5px;
$screen-md: 1023px;
$screen-sm: 767.5px;
$screen-xs: 480px;
$screen-xsSm: 374px;

//------------------------------------------------------------
//    font site
//------------------------------------------------------------
$heading-tb: 26px;
$heading-md: 26px;
$heading-mdsm: 24px;
$heading-sm: 22px;
$heading-smxs: 20px;
$heading-xs: 18px;
$heading-xsss: 16px;

$text-tb: 20px;
$text-md: 18px;
$text-sm: 16px;
$text-xs: 14px;

//------------------------------------------------------------
//    Colors
//------------------------------------------------------------

$white: #fff;
$text: #414141;
$brown: #5e3b1d;
$orange01: #ed9526;
$bg-blue: #d7e1e6;

$name: #8b8681;
$grey01: #cecece;
$grey02: #f7f6f5;
$grey03: #b5b5b5;
$grey04: #eeeeee;
$grey05: #cccccc;
$grey06: #f8f8f8;
$green01: #28a286;
$green02: #2db698;
$green03: #0fc8bc;
$green04: #6cba5a;
$green05: #349463;

$black01: #222222;
$black02: #000000;
$black03: #303030;
$orange02: #e98833;
$orange03: #d74a00;
$orange04: #e46c00;
$blue01: #0b4085;
$blue02: #106ab1;
$blue03: #005bab;
$purple01: #7772ac;
$purple02: #5f497a;
