@charset "utf-8";

@import "variable";
@import "basic/mixin";
@import "basic/selector";

@import "basic/reset";
@import "basic/default";

/*==================================================================================================
	サイト基礎
==================================================================================================*/
.rainbow {
	color: $text;
	font-style: normal;
	font-weight: 300;
	overflow-x: hidden;
	line-height: 1.6;
	font-family: $defaut-family;
	@include font-size(16);

	@include max-screen($screen-tb) {
		@include font-size(15);
	}

	@include max-screen($screen-sm) {
		@include font-size(14);
	}
	a {
		transition: 0.5s;
		color: $text;
		text-decoration: none;
		display: block;
		font-weight: 400 !important;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 0;
	}
	h3 {
		font-weight: 500;
	}
	.page-main {
		padding-top: 75px;
		@include max-screen($screen-md) {
			padding-top: 65px;
		}
		@include max-screen($screen-sm) {
			padding-top: 55px;
		}
	}
	.inner {
		max-width: 1780px;
		margin: 0 auto;
		padding: 0 30px;
		@include max-screen($screen-md) {
			padding: 0 15px;
		}
	}
	.display_pc {
		@include max-screen($screen-md) {
			display: none;
		}
	}
	.display_sp {
		display: none;
		@include max-screen($screen-md) {
			display: block;
		}
	}
	.hideSP {
		@include max-screen($screen-tb) {
			display: none !important;
		}
	}
	.hidePC {
		@include min-screen(1280px) {
			display: none !important;
		}
		display: none;
	}
	&.hidden {
		overflow-y: hidden;
		@include max-screen($screen-tb) {
			overflow-y: auto;
		}
	}
	&.hiddenSP {
		@include max-screen($screen-tb) {
			overflow-y: hidden;
		}
	}
	.event-none {
		pointer-events: none;
	}
	.whiteSpace {
		white-space: pre-wrap;
	}

	.newsList {
		padding: 2rem 3.5rem;
		@include max-screen($screen-tb) {
			padding: 1.5rem 3rem;
		}
		@include max-screen($screen-sm) {
			padding: 1.2rem 2.5rem;
		}
		&__item {
			padding-bottom: 1.8rem;
			@include max-screen($screen-tb) {
				padding-bottom: 1.6rem;
			}
			@include max-screen($screen-sm) {
				padding-bottom: 1.5rem;
			}
			&:last-child {
				padding-bottom: 0;
			}
			.links {
				display: flex;
				flex-wrap: wrap;
				.info {
					width: 18%;
					padding-right: 1rem;
					font-weight: 300;
					@include max-screen($screen-md) {
						width: 25%;
					}
					@include max-screen($screen-sm) {
						padding-bottom: 0.5rem;
						width: 100%;
					}
				}
				.desc {
					font-weight: 300 !important;
					width: calc(100% - 18%);
					@include max-screen($screen-md) {
						width: calc(100% - 25%);
					}
					@include max-screen($screen-sm) {
						width: 100%;
					}
					line-height: 1.75;
				}
			}
		}
	}
	.btnSlider {
		position: absolute;
		z-index: 99;
		top: 135px;
		transform: translateY(-50%);
		max-width: 50px;
		cursor: pointer;
		width: 100%;
		height: 48px;
		@include max-screen($screen-sm) {
			max-width: 40px;
			height: 46px;
		}
		@include max-screen($screen-xs) {
			max-width: 30px;
			height: 40px;
		}
	}
	.prev {
		background: url(../img/common/btn-prev.png) no-repeat;
		background-size: contain;
		left: 0.5rem;
		@include max-screen($screen-sm) {
			left: 0;
		}
	}
	.next {
		background: url(../img/common/btn-next.png) no-repeat;
		background-size: contain;
		right: 0.5rem;
		@include max-screen($screen-sm) {
			right: 0;
		}
	}
	.btnArrow {
		position: absolute;
		top: -5rem;
		cursor: pointer;
		z-index: 999;
		width: 40px;
		height: 40px;
		@include max-screen($screen-tb) {
			top: -4.6rem;
		}
		@include max-screen($screen-sm) {
			top: -4.5rem;
		}
		@include max-screen($screen-xs) {
			top: -3.7rem;
			width: 35px;
		}
	}
	.btnNext {
		background: url(../img/top/btn_top.png);
		background-size: contain;
		background-repeat: no-repeat;
		right: 5rem;
		@include max-screen($screen-xs) {
			right: 4.5rem;
		}
	}
	.btnPrev {
		background: url(../img/top/btn_bottom.png);
		background-size: contain;
		background-repeat: no-repeat;
		right: 0.5rem;
	}
	.breadList {
		display: flex;
		flex-wrap: wrap;
		padding: 15px 0 15px 15px;
		margin-bottom: 33px;
		margin-top: 33px;
		font-size: $text-md;
		@include max-screen($screen-md) {
			margin: 15px 0 15px 0;
			font-size: $text-sm;
		}
		@include max-screen($screen-sm) {
			margin-top: 15px 0 15px 0;
		}
		.item {
			position: relative;
			padding-left: 25px;
			a {
				color: #0459a2;
			}
			&::before {
				content: ">";
				position: absolute;
				left: 7px;
				top: 0;
			}
			&:first-child {
				padding-left: 0;
				&::before {
					content: "";
				}
			}
		}
	}
	.box-shadow {
		-webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
		box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
	}
	.topNewProduct-list {
		.newProduct-wrapper {
			padding: 24px;
			.newProduct-item {
				.boxImg {
					margin-bottom: 24px;
					position: relative;
					@include max-screen($screen-md) {
						margin-bottom: 20px;
					}
					.new {
						font-size: $text-sm;
						color: $white;
						background: #da100b;
						padding: 2px 15px;
						position: absolute;
						top: 10px;
						left: 10px;
						border-radius: 5px;
						@include max-screen($screen-md) {
							font-size: 15px;
						}
					}
					img {
						width: 100%;
					}
				}
				.NewProduct-info {
					.title {
						color: #da100b;
						font-size: $heading-mdsm;
						font-weight: 500;
						@include max-screen($screen-tb) {
							font-size: $heading-sm;
						}
						@include max-screen($screen-md) {
							font-size: $heading-smxs;
						}
					}
					.txt {
						font-size: $text-md;
						margin: 10px 0;
						font-weight: 500;
						@include max-screen($screen-md) {
							font-size: $text-sm;
						}
						span {
							display: block;
						}
					}
					.money {
						font-size: $heading-md;
						color: #da100b;
						font-weight: 500;
						@include max-screen($screen-tb) {
							font-size: $heading-mdsm;
						}
						@include max-screen($screen-md) {
							font-size: $heading-sm;
						}
						@include max-screen($screen-xs) {
						}
					}
				}
			}
		}
	}
	.related {
		.ctn-related {
			.related-item {
				padding: 24px;
				.related-image {
					position: relative;
					margin-bottom: 27px;
					.drink {
						font-size: $text-md;
						color: #f2f2f2;
						position: absolute;
						top: 15px;
						left: 15px;
						background: #da100b;
						padding: 5px 24px;
						@include max-screen($screen-md) {
							font-size: $text-sm;
						}
					}
					img {
						width: 100%;
					}
				}
				.related-titleh3 {
					font-size: $heading-mdsm;
					font-weight: bold;
					margin-bottom: 10px;
					@include max-screen($screen-tb) {
						font-size: $heading-sm;
					}
					@include max-screen($screen-md) {
						font-size: $heading-smxs;
					}
				}
				.related-txt {
					font-size: $text-md;
					@include max-screen($screen-md) {
						font-size: $text-sm;
					}
				}
			}
		}
	}
	.instagram {
		margin-bottom: 38px;
		.title-buttom {
			margin-bottom: 38px;
			@include max-screen($screen-md) {
				margin-bottom: 24px;
			}
			.title {
				position: relative;
				padding-left: 55px !important;
				font-size: 20px !important;
				margin-left: 0;
				@include max-screen($screen-tb) {
					padding-left: 47px !important;
				}
				@include max-screen($screen-md) {
					padding-left: 35px !important;
				}
				&::before {
					content: "";
					position: absolute;
					background: url(../img/common/icon-ins.png) no-repeat center;
					height: 48px;
					width: 48px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-size: 100%;
					@include max-screen($screen-tb) {
						height: 40px;
						width: 40px;
					}
					@include max-screen($screen-md) {
						height: 30px;
						width: 30px;
						background-size: 100%;
					}
				}
			}
		}
		.instagram-box {
			display: flex;
			flex-wrap: wrap;
			.box {
				width: calc(25% - 18px);
				margin-right: 24px;
				margin-bottom: 24px;
				@include max-screen($screen-md) {
					width: calc(50% - 12px);
					margin-bottom: 24px;
				}
				@include max-screen($screen-xs) {
					width: 100%;
					margin-right: 0;
				}
				&:nth-child(4n) {
					margin-right: 0;
				}
				&:nth-child(2n) {
					@include max-screen($screen-md) {
						margin-right: 0;
					}
				}
				.img {
					position: relative;
					.txt {
						position: absolute;
						bottom: 0px;
						left: 0px;
						color: $white;
						padding: 0px 20px 20px;
					}
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
