<section>
  <{if $shop.banner.has_item}>
      <{section name=i loop=$shop.banner.list}>
          <a href="<{$shop.banner.list[i].url}>" class="loop-shop-banner" target="<{$shop.banner.list[i].target}>"><img src="<{$shop.banner.list[i].image_url}>"></a>
      <{/section}>
  <{/if}>
</section>
