<div class="brandList">
  <h2 class="title">
    ブランド一覧
  </h2>
  <div class="brandList-box">
    <div class="brandList-item">
      <div class="img">
        <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-01.png" alt="">
      </div>
      <p class="brandList-item-text">Massey Honey Co.</p>
    </div>
    <div class="brandList-item">
      <div class="img">
        <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-02.png" alt="">
      </div>
      <p class="brandList-item-text">Backroad Beekeeping</p>
    </div>
    <div class="brandList-item">
      <div class="img">
        <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-03.png" alt="">
      </div>
      <p class="brandList-item-text">Rainbow Farms</p>
    </div>
  </div>
</div>