<div class="topProduct">
  <div class="title-buttom">
    <h2 class="title">商品カテゴリ</h2>
    <div class="btn"><a href="/view/category/all_items">商品カテゴリ一覧</a></div>
  </div>
  <div class="topProduct-box">
    <{section name=i loop=$category.item.list}>
      <div class="box">
        <a href="<{$category.item.list[i].url}>">
          <div class="img">
            <img src="<{$category.item.list[i].image_L}>" alt="<{$category.item.list[i].name}>">
          </div>
          <p class="txt"><{$category.item.list[i].name}></p>
        </a>
      </div>
    <{/section}>
  </div>
</div>