<footer class="footer">
  <div class="inner">
    <div class="footer-social">
      <ul class="footer-social-list container-normal">
        <li><a target="_blank" href="https://www.instagram.com/rainbowfarmsjp/"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/icon-instagram-wht.png" alt="instagram"></a></li>
        <li><a target="_blank" href="https://twitter.com/rainbowfarmsjp"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/icon-twitter-wht.png" alt="twitter"></a></li>
        <li><a target="_blank" href="https://www.facebook.com/rainbowfarmsjp/"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/icon-facebook-wht.png" alt="facebook"></a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <div class="clear container-normal">
        <div class="footer-nav-area">
          <ul class="footer-nav-list">
            <li><a href="#">会社概要</a></li>
            <li><a href="#">個人情報保護ポリシー</a></li>
            <li><a href="#">特定商取引法表示</a></li>
            <li><a href="#">ご利用ガイド</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">
        <{$shop.copyright}>
      </p>
    </div>
  </div>
</footer>
<form name="ssl_login_form" method="post" action="https://www.makeshop.jp/ssl/slogin/" target="_top" style="margin:0;padding:0;">
  <input type="hidden" name="db" value="rainbowfarms">
  <input type="hidden" name="type" value="">
  <input type="hidden" name="opt" value="">
  <input type="hidden" name="ssl_login_return_url" value="%2Findex.html">
  <input type="hidden" name="user_id" value="">
  <input type="hidden" name="ssl_tempid" value="fbb65650f9402eeb478d371f5203d739">
</form>