<div class="topNewProduct">
  <div class="title-buttom">
    <h2 class="title">新商品情報</h2>
    <div class="btn"><a href="#">もっと見る</a></div>
  </div>
  <div class="ctn-newProduct">
    <div class="topNewProduct-list newSlider">
      <{section name=i loop=$new_item.list max=10}>
        <div class="newProduct-wrapper">
          <a href="<{$new_item.list[i].url}>">
            <div class="newProduct-item bg_white">
              <div class="boxImg">
                <img src="<{$new_item.list[i].image_L}>" alt="<{$new_item.list[i].name}>">
                <p class="new">販売</p>
              </div>
              <div class="NewProduct-info">
                <h3 class="title"><{$new_item.list[i].name}></h3>
                <p class="txt">
                  <span><{$new_item.list[i].name}></span>
                </p>
                <p class="money"><{$new_item.list[i].price|number_format}>円（税込）</p>
              </div>
            </div>
          </a>
        </div>
      <{/section}>
    </div>
  </div>
</div>