<div class="topRanking">
  <div class="title-buttom">
    <h2 class="title">人気ランキング
      <span>Favorite Ranking</span>
    </h2>
    <div class="btn-right">
      <div class="btn">
        <a href="#" class="brown">食品</a>
        <a href="#" class="white">雑貨</a>
      </div>
      <p class="day">集計期間: 2021/08/27 ~ 2021/09/02</p>
    </div>
  </div>
  <div class="ctn-topRanking">
    <div class="topRanking-list newSlider">
      <{section name=i loop=$ranking_item.list max=10}>
        <div class="ranking-wrapper">
          <a href="<{$ranking_item.list[i].url}>">
            <div class="ranking-item">
              <div class="boxImg">
                <img src="<{$ranking_item.list[i].image_L}>" alt="<{$ranking_item.list[i].name}>">
                <p class="new"><{$ranking_item.list[i].num}></p>
              </div>
              <div class="ranking-info">
                <h3 class="title"><{$ranking_item.list[i].name}></h3>
                <p class="txt">
                  [令和2年産] 特別栽培米　ミルキークイン5kg白米
                </p>
                <div class="ranking-info-bottom">
                  <p class="money">¥<{$ranking_item.list[i].price|number_format}>
                    <span>(税・送料込)</span>
                  </p>
                  <p class="btn">
                    <a href="<{$ranking_item.list[i].url}>">カートに追加</a>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <{/section}>
    </div>
  </div>
</div>