<div class="topRecommended">
  <div class="title-buttom">
    <h2 class="title">おすすめレシピ</h2>
    <div class="btn"><a href="#">もっと見る</a></div>
  </div>
  <div class="topRecommended-box">
    <{section name=i loop=$recommend_item.list max=4}>
      <div class="box">
        <a href="<{$recommend_item.list[i].url}>">
          <div class="img"><img src="<{$recommend_item.list[i].image_L}>" alt="<{$recommend_item.list[i].name}>"></div>
        </a>
      </div>
    <{/section}>
  </div>
</div>