<footer class="footer">
  <div class="inner">
    <div class="footer-social">
      <ul class="footer-social-list container-normal">
        <li><a target="_blank" href="https://www.instagram.com/rainbowfarmsjp/"><img src="../assets/img/common/icon-instagram-wht.png" alt="instagram"></a></li>
        <li><a target="_blank" href="https://twitter.com/rainbowfarmsjp"><img src="../assets/img/common/icon-twitter-wht.png" alt="twitter"></a></li>
        <li><a target="_blank" href="https://www.facebook.com/rainbowfarmsjp/"><img src="../assets/img/common/icon-facebook-wht.png" alt="facebook"></a></li>
      </ul>
    </div>
    <div class="footer-nav">
      <div class="clear container-normal">
        <div class="footer-nav-area">
          <ul class="footer-nav-list">
            <li><a href="#">会社概要</a></li>
            <li><a href="#">個人情報保護ポリシー</a></li>
            <li><a href="#">特定商取引法表示</a></li>
            <li><a href="#">ご利用ガイド</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">
        Copyright (c) Rainbow Farms | レインボーファームズ all rights reserved.
      </p>
    </div>
  </div>
</footer>