<meta charset="utf-8">
<title>@@title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<!-- favicon -->
<link href="../assets/img/common/favicon.ico" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="article">
<meta property="og:site_name" content="">
<meta property="og:site_url" content="">
<!-- include styles.html -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
<!-- slick -->
<link rel="stylesheet" type="text/css" href="../assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/slick-theme.css" />

<link rel="stylesheet" href="../assets/css/base.css">
<link rel="stylesheet" href="../assets/css/page.css">
<!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">