@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

a, address, article, aside, audio, b, big, blockquote, body, button, caption, center, cite, code, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, form, h1, h2, h3, h4, h5, h6, header, i, iframe, img, input, label, li, main, mark, menu, nav, ol, p, pre, q, s, section, select, small, span, strong, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, u, ul, video {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  vertical-align: bottom;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline-width: 0; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

button,
input,
select {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer; }

[disabled] {
  cursor: default; }

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

body {
  font-family: "Roboto", sans-serif; }

[type="button"],
[type="reset"],
[type="submit"],
a,
a img,
button {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/*==================================================================================================
	サイト基礎
==================================================================================================*/
.rainbow {
  color: #414141;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem; }

@media screen and (max-width: 1279.5px) {
  .rainbow {
    font-size: 1.5rem; } }

@media screen and (max-width: 767.5px) {
  .rainbow {
    font-size: 1.4rem; } }

.rainbow a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #414141;
  text-decoration: none;
  display: block;
  font-weight: 400 !important; }

.rainbow a:hover {
  text-decoration: none;
  opacity: 0.8; }

.rainbow h1,
.rainbow h2,
.rainbow h3,
.rainbow h4,
.rainbow h5,
.rainbow h6,
.rainbow p {
  margin-bottom: 0; }

.rainbow h3 {
  font-weight: 500; }

.rainbow .page-main {
  padding-top: 75px; }

@media screen and (max-width: 1023px) {
  .rainbow .page-main {
    padding-top: 65px; } }

@media screen and (max-width: 767.5px) {
  .rainbow .page-main {
    padding-top: 55px; } }

.rainbow .inner {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px; }

@media screen and (max-width: 1023px) {
  .rainbow .inner {
    padding: 0 15px; } }

@media screen and (max-width: 1023px) {
  .rainbow .display_pc {
    display: none; } }

.rainbow .display_sp {
  display: none; }

@media screen and (max-width: 1023px) {
  .rainbow .display_sp {
    display: block; } }

@media screen and (max-width: 1279.5px) {
  .rainbow .hideSP {
    display: none !important; } }

.rainbow .hidePC {
  display: none; }

@media screen and (min-width: 1280px) {
  .rainbow .hidePC {
    display: none !important; } }

.rainbow.hidden {
  overflow-y: hidden; }

@media screen and (max-width: 1279.5px) {
  .rainbow.hidden {
    overflow-y: auto; } }

@media screen and (max-width: 1279.5px) {
  .rainbow.hiddenSP {
    overflow-y: hidden; } }

.rainbow .event-none {
  pointer-events: none; }

.rainbow .whiteSpace {
  white-space: pre-wrap; }

.rainbow .newsList {
  padding: 2rem 3.5rem; }

@media screen and (max-width: 1279.5px) {
  .rainbow .newsList {
    padding: 1.5rem 3rem; } }

@media screen and (max-width: 767.5px) {
  .rainbow .newsList {
    padding: 1.2rem 2.5rem; } }

.rainbow .newsList__item {
  padding-bottom: 1.8rem; }

@media screen and (max-width: 1279.5px) {
  .rainbow .newsList__item {
    padding-bottom: 1.6rem; } }

@media screen and (max-width: 767.5px) {
  .rainbow .newsList__item {
    padding-bottom: 1.5rem; } }

.rainbow .newsList__item:last-child {
  padding-bottom: 0; }

.rainbow .newsList__item .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.rainbow .newsList__item .links .info {
  width: 18%;
  padding-right: 1rem;
  font-weight: 300; }

@media screen and (max-width: 1023px) {
  .rainbow .newsList__item .links .info {
    width: 25%; } }

@media screen and (max-width: 767.5px) {
  .rainbow .newsList__item .links .info {
    padding-bottom: 0.5rem;
    width: 100%; } }

.rainbow .newsList__item .links .desc {
  font-weight: 300 !important;
  width: calc(100% - 18%);
  line-height: 1.75; }

@media screen and (max-width: 1023px) {
  .rainbow .newsList__item .links .desc {
    width: calc(100% - 25%); } }

@media screen and (max-width: 767.5px) {
  .rainbow .newsList__item .links .desc {
    width: 100%; } }

.rainbow .btnSlider {
  position: absolute;
  z-index: 99;
  top: 135px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 50px;
  cursor: pointer;
  width: 100%;
  height: 48px; }

@media screen and (max-width: 767.5px) {
  .rainbow .btnSlider {
    max-width: 40px;
    height: 46px; } }

@media screen and (max-width: 480px) {
  .rainbow .btnSlider {
    max-width: 30px;
    height: 40px; } }

.rainbow .prev {
  background: url(../img/common/btn-prev.png) no-repeat;
  background-size: contain;
  left: 0.5rem; }

@media screen and (max-width: 767.5px) {
  .rainbow .prev {
    left: 0; } }

.rainbow .next {
  background: url(../img/common/btn-next.png) no-repeat;
  background-size: contain;
  right: 0.5rem; }

@media screen and (max-width: 767.5px) {
  .rainbow .next {
    right: 0; } }

.rainbow .btnArrow {
  position: absolute;
  top: -5rem;
  cursor: pointer;
  z-index: 999;
  width: 40px;
  height: 40px; }

@media screen and (max-width: 1279.5px) {
  .rainbow .btnArrow {
    top: -4.6rem; } }

@media screen and (max-width: 767.5px) {
  .rainbow .btnArrow {
    top: -4.5rem; } }

@media screen and (max-width: 480px) {
  .rainbow .btnArrow {
    top: -3.7rem;
    width: 35px; } }

.rainbow .btnNext {
  background: url(../img/top/btn_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 5rem; }

@media screen and (max-width: 480px) {
  .rainbow .btnNext {
    right: 4.5rem; } }

.rainbow .btnPrev {
  background: url(../img/top/btn_bottom.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0.5rem; }

.rainbow .breadList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 0 15px 15px;
  margin-bottom: 33px;
  margin-top: 33px;
  font-size: 18px; }

@media screen and (max-width: 1023px) {
  .rainbow .breadList {
    margin: 15px 0 15px 0;
    font-size: 16px; } }

@media screen and (max-width: 767.5px) {
  .rainbow .breadList {
    margin-top: 15px 0 15px 0; } }

.rainbow .breadList .item {
  position: relative;
  padding-left: 25px; }

.rainbow .breadList .item a {
  color: #0459a2; }

.rainbow .breadList .item::before {
  content: ">";
  position: absolute;
  left: 7px;
  top: 0; }

.rainbow .breadList .item:first-child {
  padding-left: 0; }

.rainbow .breadList .item:first-child::before {
  content: ""; }

.rainbow .box-shadow {
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.6); }

.rainbow .topNewProduct-list .newProduct-wrapper {
  padding: 24px; }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .boxImg {
  margin-bottom: 24px;
  position: relative; }

@media screen and (max-width: 1023px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .boxImg {
    margin-bottom: 20px; } }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .boxImg .new {
  font-size: 16px;
  color: #fff;
  background: #da100b;
  padding: 2px 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px; }

@media screen and (max-width: 1023px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .boxImg .new {
    font-size: 15px; } }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .boxImg img {
  width: 100%; }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .title {
  color: #da100b;
  font-size: 24px;
  font-weight: 500; }

@media screen and (max-width: 1279.5px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .title {
    font-size: 22px; } }

@media screen and (max-width: 1023px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .title {
    font-size: 20px; } }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .txt {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500; }

@media screen and (max-width: 1023px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .txt {
    font-size: 16px; } }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .txt span {
  display: block; }

.rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .money {
  font-size: 26px;
  color: #da100b;
  font-weight: 500; }

@media screen and (max-width: 1279.5px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .money {
    font-size: 24px; } }

@media screen and (max-width: 1023px) {
  .rainbow .topNewProduct-list .newProduct-wrapper .newProduct-item .NewProduct-info .money {
    font-size: 22px; } }

.rainbow .related .ctn-related .related-item {
  padding: 24px; }

.rainbow .related .ctn-related .related-item .related-image {
  position: relative;
  margin-bottom: 27px; }

.rainbow .related .ctn-related .related-item .related-image .drink {
  font-size: 18px;
  color: #f2f2f2;
  position: absolute;
  top: 15px;
  left: 15px;
  background: #da100b;
  padding: 5px 24px; }

@media screen and (max-width: 1023px) {
  .rainbow .related .ctn-related .related-item .related-image .drink {
    font-size: 16px; } }

.rainbow .related .ctn-related .related-item .related-image img {
  width: 100%; }

.rainbow .related .ctn-related .related-item .related-titleh3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; }

@media screen and (max-width: 1279.5px) {
  .rainbow .related .ctn-related .related-item .related-titleh3 {
    font-size: 22px; } }

@media screen and (max-width: 1023px) {
  .rainbow .related .ctn-related .related-item .related-titleh3 {
    font-size: 20px; } }

.rainbow .related .ctn-related .related-item .related-txt {
  font-size: 18px; }

@media screen and (max-width: 1023px) {
  .rainbow .related .ctn-related .related-item .related-txt {
    font-size: 16px; } }

.rainbow .instagram {
  margin-bottom: 38px; }

.rainbow .instagram .title-buttom {
  margin-bottom: 38px; }

@media screen and (max-width: 1023px) {
  .rainbow .instagram .title-buttom {
    margin-bottom: 24px; } }

.rainbow .instagram .title-buttom .title {
  position: relative;
  padding-left: 55px !important;
  font-size: 20px !important;
  margin-left: 0; }

@media screen and (max-width: 1279.5px) {
  .rainbow .instagram .title-buttom .title {
    padding-left: 47px !important; } }

@media screen and (max-width: 1023px) {
  .rainbow .instagram .title-buttom .title {
    padding-left: 35px !important; } }

.rainbow .instagram .title-buttom .title::before {
  content: "";
  position: absolute;
  background: url(../img/common/icon-ins.png) no-repeat center;
  height: 48px;
  width: 48px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: 100%; }

@media screen and (max-width: 1279.5px) {
  .rainbow .instagram .title-buttom .title::before {
    height: 40px;
    width: 40px; } }

@media screen and (max-width: 1023px) {
  .rainbow .instagram .title-buttom .title::before {
    height: 30px;
    width: 30px;
    background-size: 100%; } }

.rainbow .instagram .instagram-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.rainbow .instagram .instagram-box .box {
  width: calc(25% - 18px);
  margin-right: 24px;
  margin-bottom: 24px; }

@media screen and (max-width: 1023px) {
  .rainbow .instagram .instagram-box .box {
    width: calc(50% - 12px);
    margin-bottom: 24px; } }

@media screen and (max-width: 480px) {
  .rainbow .instagram .instagram-box .box {
    width: 100%;
    margin-right: 0; } }

.rainbow .instagram .instagram-box .box:nth-child(4n) {
  margin-right: 0; }

@media screen and (max-width: 1023px) {
  .rainbow .instagram .instagram-box .box:nth-child(2n) {
    margin-right: 0; } }

.rainbow .instagram .instagram-box .box .img {
  position: relative; }

.rainbow .instagram .instagram-box .box .img .txt {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  padding: 0px 20px 20px; }

.rainbow .instagram .instagram-box .box .img img {
  width: 100%; }
