@charset "utf-8";

/* CSS Document */

.M_catalogList{
	width:100%;
	background:#fff;
}
.M_catalogList thead th{
	background:#e6e6e6;
}
.M_catalogList th,.M_catalogList td{
	border:1px solid #999;
	padding:6px;
	text-align:center;
}
.M_catalogList .M_ctlg_number{
	width:30px;
}
.M_catalogList .M_ctlg_item_number{
	width:194px;
}
.M_catalogList .M_ctlg_num_ipt{
	width:144px;
	vertical-align:middle;
}
.M_catalogList .M_ctlgConfirm{
	display:inline-block;
	width:34px;
	height:18px;
	background:url(/images/common/r_confirmBtn.png) no-repeat;
	text-indent:-9999em;
	margin-left:4px;
	overflow:hidden;
	vertical-align:middle;
}
.M_catalogList .M_ctlg_clear{
	width:70px;
}
.M_catalogList .M_ctlgClear{
	display:block;
	width:56px;
	height:19px;
	background:url(/images/common/r_clearBtn.png) no-repeat;
	text-indent:-9999em;
	overflow:hidden;
	margin:0 auto;
}

.M_catalogList .M_ctlg_amount{
	width:62px;
	text-align:center;
}

.M_catalogList .M_basketQunantity{
	width:50px;
	margin:0 auto;
}
.M_catalogList .M_ctlg_amt_ipt{
	width:30px;
	margin-right:4px;
}
.M_catalogList .M_ctlg_amt_ipt[type="text"]:disabled {
	background:#e9e9e9;
	border:1px solid #ccc;
}
.M_catalogList .M_basketQunantity td{
	border:none;
	padding:0;
	font-size:1px;
	line-height:1px;
}
.M_catalogList .M_basketQunantity img{
	margin:0 0 1px;
}

.M_catalogList .M_catalogItem {
    width: 100%;
}
.M_catalogList .M_catalogItem dt{
    float: left;
    text-align: center;
    width: 100px;
}
.M_catalogList .M_catalogItem dt img{
	border:1px solid #ccc;
}
.M_catalogList .M_catalogItem dd {
    padding-left: 108px;
    text-align: left;
}
.M_itemMemberPriceStr{
	color: #ff0000;
}
.M_catalogList .M_erroritem{
	background:#FFE9E9;
}
.M_catalogList .M_errorMsg{
	color:#ff0000;
	margin-top:4px;
}
