@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*****************************************************

    後から追加事項　一部修正

*****************************************************/


/*****************************************************

    全ての要素をリセット
    各ブラウザの表示を統一するための設定です

*****************************************************/

html{overflow-y:scroll; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}

table{ border-collapse:collapse;border-spacing:0;}

h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}

img,abbr,acronym,fieldset{border:0;}
li{list-style-type:none;}
img{vertical-align:middle;}
.line{font-size:1px;line-height:1px;}/*--- default */

body{
    background:white;
    color:#4D4D4D;
    font-size:15px;
    font-family:'Roboto', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    line-height:1.6;
    text-align:center;
    position:relative;
    word-break: break-all;

}
td,th{
    font-size:15px;
}
table{
    border-collapse:collapse;
}
pre{
    font-size:15px;
    font-family:'Rubik', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    line-height:1.4;
}
input,select,textarea{
    font-family:'Rubik', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
}

/*****************************************************

    基本設定、リンクカラーなど

*****************************************************/

#wrap{
	position:relative;
}
#wrap,#makebanner{
    width:100%;
}
.container{
    margin-left:auto;
    margin-right:auto;
}

.clear:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
* html .clear            { zoom:1; } /* IE6 */
*:first-child+html .clear { zoom:1; } /* IE7 */

a {
text-decoration:none;
}

a:hover img,.btn:hover,#M_basketClosedBox a:hover,.icon-mypage a:hover,.soldout:not(:hover){
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
	text-decoration:none;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
.btn{
    display:inline-block;
    margin:16px auto;   
    background:#EFAC5E;
    color:#fff!important;
    padding:14px 32px;
	text-align:center;
}
.btn-gray{
    background:#888;    
}

/*****************************************************

    ヘッダ #header

*****************************************************/

#header{
	position:absolute;
	top:0;
	left:0;
	color:#FFF;
	height:100px;
	width:100%;
	z-index:9999;
}
.header-in{
	position:relative;
	height:100%;
	/* min-width: 950px; */
	display:flex;
	align-items:center;
}
.header-nav li,.header-nav li li a{
	color:#FFF;
}
.header-nav  .header-nav-cart #M_basketClosedBox #M_basket .M_basketMarginBox{
	display:none;
}
.M_basketMarginBox .M_headBasket table{
    margin:3px 10px;
    width:190px;
}
.M_headBasket .M_basketMarginBox td.M_headImg{
    width: 60px;
}
.M_headBasket .M_basketMarginBox td.M_headImg img{
    width: 100%;
}
.header-nav  .header-nav-cart #M_basketClosedBox #M_basket,
.header-nav .header-nav-login .icon-mypage a{
	text-align:center;
	display:block;
}
.header-nav  .header-nav-cart #M_basketClosedBox #M_basket:before{
    content:url(/images/original_design_default/samplesource/11/icon-basket.png);
}
.header-nav .header-nav-login .icon-mypage a:before{
    content:url(/images/original_design_default/samplesource/11/icon-user.png);
}
.header-nav .header-nav-login .icon-logout a:before{
    content:url(/images/original_design_default/samplesource/11/icon-logout.png);
}

.header-nav .header-nav-cart #M_basketClosedBox #M_basket:before,
.header-nav .header-nav-login .icon-mypage a:before{
	position:relative;
}
.header-nav li,.header-nav li li:first-child{
    vertical-align:middle;
	margin-right:24px;
}
.header-nav li:first-child{
    margin:0;
}
.header-nav li li{
    font-size:13px; 
	display: inline-block;
}
.header-nav li li,
.header-nav li li a{
	color: #333;
	vertical-align: middle;
}
.header-nav li li a{
	display: block;
}
.header-nav li li:first-child {
    max-width: 110px;
}
.header-nav .M_headBasket{
    border:none;
    float:none;
    padding:0;
    margin:0;
    width:auto;
	background:none;
}
.header-nav .M_headBasket table{
	margin:10px;
    width:190px;
}
.header-nav .M_headBasket tr#last-child td{
    color:#4D4D4D;
}
.header-nav #M_headBasketSwitch{
    float:none;
    width:auto;
    height:auto;    
}
.header-nav #M_basketTemp1 #M_basketClosedBox{
    background:none;
    position:relative;
    text-indent:inherit;
    width:auto;
    height:auto;
}
.header-nav #M_basketTemp1 #M_basketClosedBox a{
    color:#fff; 
    text-decoration:none;
    height:auto;
    width:auto;
	margin-top:15px;
	padding-bottom:15px;
}
.header-nav #M_headBasketIn{
    display:none;   
}
.header-nav #M_basketOpenedBox{
	background:none;
	border:none;
	top:40px;
	left:-170px;
	width:230px;
	-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.1);
	box-shadow:3px 3px 10px rgba(0,0,0,0.1);
}
.header-nav .M_basketMarginBox{
    background:#FFF;
    border:none;
}
.header-nav #M_basketOpenedBox .M_headItem{
	text-align:left;
	max-width: 90px;
	padding-right:  8px;
	padding-left:  8px;
}
.header-nav .M_basketMarginBox{
    text-align:center;
	padding:10px;
}
.header-nav .M_basketMarginBox .M_headNum{
	color:#4D4D4D;
}
.header-nav #MakeShopTopSearchInput{
	font-size:16px;
    padding-left:15px;
    border:0px solid #4D4D4D;  
    width:100px;
	height:40px;
	background-color:#FFF;
	color:#4D4D4D;
	border-radius:100px;
    padding:0 15px 0 35px;
}
.header-nav .header-nav-search{
	position:relative;
	margin-right:0;
}
.header-nav .header-nav-search #MakeShopTopSearchButton{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
}
#MakeShopTopSearchButton{
    background:url("/images/original_design_default/samplesource/11/icon-search.png") no-repeat center left 10px;
    text-indent:-9999em;
    padding:10px;
	width:30px;
    display:inline-block;
	box-sizing:border-box;
}
.global-nav li{
    display:inline-block;
    margin-right: 12px;
    position:relative;
}
.global-nav li:hover #M_ctgList2{
	display:block;
}
.global-nav li a{
	color:#4D4D4D;
}
.global-nav li a:hover,
.global-nav li:hover a,
.global-nav li:hover #M_ctgList2:hover{
	color:#999;
    text-decoration:none;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	transition:0.2s ease-in-out;
}
.global-nav li #M_ctgList2 li{
    margin:0;
    padding:0;  
    background:none;
	display:block;
}
.global-nav li #M_ctgList2 li a{
	color:#777;
    display:block;  
    font-size:15px;
    padding:15px;
	font-weight:normal;
}
.global-nav li #M_ctgList2 a:hover{
    text-decoration:none;   
}
.global-nav li #M_ctgList2 .M_layer2 {
	display:none;
	position:absolute;
	left:200px;
	top:0px;
}
.global-nav li #M_ctgList2 .M_layer2 .M_layer1{
	background-color:#fff;
	width:200px;
	-webkit-box-shadow:2px 4px 2px rgba(0,0,0,0.1);
    box-shadow:2px 4px 2px rgba(0,0,0,0.1);
}
.global-nav li:hover #M_ctgList2 li a:hover{
	background-color:#EEE;
	color:#000;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	transition:0.2s ease-in-out;
}
.global-nav li:hover #M_ctgList2 li:hover ul,
.global-nav li #M_ctgList2 .M_layer2:hover{
	display:block;
}
.index-slider{
	min-width:1300px;
}
.index-slider img.topImage{
	width:100%;
}
.index-slider .bx-wrapper img{
	min-width:100%;
}
.index-slider .bx-wrapper{
    margin-bottom:16px; 
} 
.index-slider .bx-wrapper .bx-pager{
    bottom:30px;    
}
.index-slider .topImage{
	width:100%;
}
.global-nav li #M_ctgList2{
	display:none;
    position:absolute;
	left:-62px;
    top:20px;
}
.global-nav li #M_ctgList2 .M_layer1,
.global-nav li #M_ctgList2 .M_layer2{
	width:200px;
    background:#fff;
	-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.1);
	box-shadow:3px 3px 10px rgba(0,0,0,0.1);
}
#header .global-nav li #M_ctgList2{
    left:-50px;
    top:30px;
    padding-top:10px;
}
/* .global-nav */
#header .global-nav{
	margin:0 auto;
}
#header.scrolled .global-nav{
	bottom:25px;
    left:0;
    right:0;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
#header .global-nav li a{
	font-size:18px;
	font-weight:bold;
	padding:8px;
}
#header .shop-logo img.M_ShopLogo{
    height: auto;
    max-width: 300px;
}
#header .shop-logo{
    display:block;
	text-align:left;
}
#header .header-nav{
    display:flex;
    align-items:center;
	background:rgba(0,0,0,0);
}

/*****************************************************

    common

*****************************************************/

.item-list img,
.category-list img{
	max-width: 100%;
}
.item-list a,
.category-list a{
	font-size:18px;
	display:block;
	width:200px;
	margin:0 auto;
	overflow:hidden;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.item-list .woong a,
.item-list .rank-name a{
	margin-top:20px;
}
.item-list .category-list-img .soldout,
.category-list .category-list-img .soldout,
.category-list .innerBox .imgWrap .soldout{
	position: absolute;
	top: 10px;
	left: 30px;
	display: block;
	font-size: 13px;
	color: #fff;
	background-color: #999;
	opacity: 1;
	padding: 4px 8px;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.item-list .category-list-img,
.category-list .category-list-img,
.category-list .innerBox .imgWrap{
	position: relative;
}
.item-list .category-list-img a,
.category-list .category-list-img a{
	margin:0 auto;
}
.category-list .name,
#recent .name{
	margin-top:16px;
}
#recent .name{
	    width: 220px;
}
.index-rank.item-list a,
.index-rank.category-list a{
	max-width:180px;
	overflow:hidden;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#makebanner td[width="150"],#makebanner td[width="10"]{
    display:none;   
}
#makebanner td[width="640"],#makebanner td[width="640"] table{
    width:100%; 
}
#makebanner img[src$="helptitle.gif"],#makebanner img[src$="companytitle.gif"],#makebanner img[src$="baskettitle.gif"]{
    display:none;   
}
.inner-contents{
    width:80%;
    margin:0 auto;
}
.main-contents{
    max-width:1300px;
    margin: 0 auto;
    margin-top: 125px;
}
.main-contents h2{
    font-size:36px;
	font-weight:bold;
	position:relative;
	text-align:center;
	margin-bottom:40px;
}
.main-contents#guide{
    margin-bottom:80px;
}
.item-list .lims a img:hover,
.item-list .category-list-img img:hover,
.item-list .rank-img a img:hover{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
.item-list .lims table tr:nth-child(2) td a,
.item-list .rank-list .rank-name a,
.item-list .category-list-detail .name a,
#recent .itemBox .name a,
#search #r_searchList .name a{
    color:#777;
    font-size:16px;
    width:90%;
    display:inline-block;
}
.item-list .lims table tr.woong:last-child td,
.item-list .rank-list .rank-price,
.item-list .category-list-detail .price,
#recent .itemBox .price,
#search #r_searchList .price,
.index-recommend .lims table tr:nth-child(3) td{
    color:#999;
    font-size:18px;
	padding-top:8px;
}
 #makebanner tr:first-child td[width="150"]{
	display:none;
	margin:125px 30px 0 0;
	width:212px;
}
.container-index .global-nav{
	display:block;
}
.container-index #makebanner tr:first-child td[width="150"]{
	display:none;
}
.side-nav{
       
	width:100%;
	background-color:#FFF;
	z-index:999;
}
.side-nav #M_ctgList2 ul li{
	padding-left:0;
	background-image:none;
}
.side-nav #M_ctgList2 ul li a{
	color:#777;
	padding:16px 20px;
	display:block;
}
.side-nav #M_ctgList2 ul li a:hover{
	text-decoration:none;
}
.side-nav #M_ctgList2 ul li a:hover{
	background-color:#EEE;
	color:#111;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.side-nav #M_ctgList2 ul.M_layer1 li{
	position:relative;
}
.side-nav #M_ctgList2 ul.M_layer1 li ul.M_layer2{
	display:none;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.side-nav #M_ctgList2 ul li .M_layer2{
	width:212px;
	-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.1);
	box-shadow:3px 3px 10px rgba(0,0,0,0.1);
}
.side-nav #M_ctgList2 a:link.M_currentAnchor,
.side-nav #M_ctgList2 a:visited.M_currentAnchor,
.side-nav #M_ctgList2 a:active.M_currentAnchor{
    font-weight:normal;
    text-decoration:none;
}
.side-nav #M_ctgList2 ul.M_layer1 li:hover ul.M_layer2,
.side-nav #M_ctgList2 ul li .M_layer2:hover{
	display:block;
	position:absolute;
	top:0;
	left:212px;
	width:212px;
	z-index:999;
	background-color:#FFF;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.side-social {
    
    margin-top:16px;
}
.side-social .side-social-list{
	display:flex;
	align-items:center;
}
.side-social .side-social-list li{
    background-color:#4D4D4D;
	height:38px;
	width:38px;
	margin-right:8px;
    border-radius:30px;
    box-sizing:border-box;
    display:flex;
    align-items:center;
}
.side-social .side-social-list li a{
	display:flex;
    align-items: center;
    justify-content: center;
	margin:0 auto;
	height:38px;
	width:38px;
}

/*****************************************************

    index

*****************************************************/

.main-contents#index{
    max-width:1300px;
}
.main-contents#index h2:after{
    content:"";
    height:8px;
    width:50px;
    background-color:#EFAC5E;
    display:block;
    margin:16px auto;
    border-radius:10px;
}
.section{
    overflow:hidden;    
}
.section table{
    width:100%; 
}
.index-news h2,
.index-new h2,
.index-recommend h2,
.index-rank h2{
	margin-bottom:48px;
}
.index-news{
    text-align:center; 
	margin-bottom:80px;
}
#index .line,
.index-news .line{
	display:none;
}
.index-news table table td{
    padding:6px;
}
.index-news table table td a{
	font-size:16px;
	color:#777;
}
.index-news table table td:first-child{
	font-size:16px;
    text-align:right;
    width:35%;
	color:#777;
}
.index-news table table td:last-child{
    text-align:left;
	padding-right:25%;
}
.news-wrap{
	width: 90%;
}
.item-recent table#recent td.itemImg img {
	max-width: 200px;
    height: auto;
}
.index-recent .line{
    display:none;   
}
.index-rank ul{
	display:flex;
	justify-content:space-between;
}
.index-rank li{
    width:220px;
    padding:20px;
    position:relative;
	background-color:#FFF;
	box-sizing:border-box;
}
.index-rank li:nth-child(n + 6){
	display:none;
}
#index .item-list{
	margin-bottom:80px;
}
.rank-number{
    position:absolute;
    left:10px;
    top:10px;
    background:#EFAC5E;
    color:#fff;
    line-height:40px;
    width:40px;
    height:40px;
    border-radius:50%; 
    -webkit-border-radius:50%;
    -moz-border-radius:50%; 
    font-weight:bold;   
    font-size:17px;
	z-index:100;
}
.rank-img img{
	width: auto;
}
.index-recommend{
	width:80%;
}
.index-recommend table tr td.lims{
	display:table-row;
}
.index-recommend table tr td.lims table{
	position: relative;
	text-align: left;
	display:block;
	height:100%;
	min-width:960px;
	background-color:#FFF;
	margin-bottom:24px;
	padding:40px;
	box-sizing:border-box;
}
.index-recommend table tr td table tbody{
    display:table-row;
	vertical-align:baseline;
}
.index-recommend table tr td table tr.woong{
	width: 570px;
}
.index-recommend table tr td table tr:nth-child(1){
	display:table-cell;
	vertical-align:middle;
	padding-right:40px;
}
.index-recommend table tr td table tr:nth-child(1) td img{
	margin-bottom:0;
}
.index-recommend table tr td table tr:not(:nth-child(1)) td img{
	width: auto;
}
.index-recommend table tr td table tr:nth-child(4){
	position: absolute;
	right: 1em;
	bottom: 2em;
	width: auto;
}
.index-recommend.item-list .lims table tr.woong:last-child td,
.index-recommend table tr td table tr:nth-child(4) td{
	padding: 0;
}
.index-recommend table tr td table tr:nth-child(4) td a{
	width: auto;
	text-align: center;
	padding: 10px;
	margin: 0;
}
.index-recommend .lims table tr.woong:nth-child(4) td a {
	font-weight:normal;
	font-size:14px;
}
.index-recommend table tr td table tr:nth-child(4) td a b{
	font-size: 14px;
	font-weight: normal;
}

.index-recommend table tr td table tr:nth-child(2){
	width:100%;
	height:100px;
}
.index-recommend table tr td table tr:nth-child(1) td{
    height: auto;
    max-width: 200px;
}
.index-recommend table tr td table tr:nth-child(2) td{
	text-align:left;
    box-sizing:border-box;
	padding-right:40px;
    min-height:100px;
	vertical-align:bottom;
}
.index-recommend table tr td table tr:nth-child(2) td a{
	font-size:24px;
	display:inline-block;
	word-break:break-all;
	margin:0;
	max-height:80px;
}
.index-recommend table tr td table tr:nth-child(3){
	width:100%;
	height:100px;
	text-align:left;
}
.item-list.index-recommend table tr td table tr:nth-child(3) td{
	vertical-align:top;
	font-size:24px;
	text-align:left;
	color:#999;
    box-sizing:border-box;
}
.index-new table tr{
	display:flex;
	justify-content:space-between;
}
.index-new table tr td.lims{
	width:280px;
	background-color:#FFF;
	padding:40px;
	margin-bottom:24px;
	box-sizing:border-box;
	display:block;

}
.index-new table tr td.lims table tr{
	display:table-row;
}
.index-new table tr td.lims table tr td{
    height: auto;
    max-width: 200px;
}
.item-list .lims table tr:nth-child(2).woong td a{
	width:100%;
}
.index-rank .rank-list a{
	width:auto;
}

/*****************************************************

    category

*****************************************************/

.main-contents#category h2{
	color:#4D4D4D;
    font-size:28px;
}
.list-sort{
    text-align:center;  
    margin:8px 0 32px;
}
.list-sort li{
    display:inline;
    margin:0 4px;   
}
.category-list{
	display:flex;
	justify-content:flex-start;
	flex-wrap:wrap;
}
.category-list li{
    width:25%;
    text-align:center;
	margin-bottom:32px;
}
.sub-category{
	display:none;
}
.sub-category table{
    margin-bottom:32px; 
    border-top:1px solid #000;
    border-bottom:1px solid #000;   
}
.sub-category table td{
    padding:8px 0;
}
.sub-category table table{
    border:none;
    margin-bottom:0;
}
.sub-category table td td{
    paddnig:0;
}
.sub-category .line,.item-list .line{
    display:none;   
}
.matomegai{
    display:inline-block;
    margin-top:4px;
}
.matomegai a{ 
    border:1px solid #54B3DE;
    padding:2px 5px;
    font-size:11px;
    display:inline-block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#54B3DE;
}
.matomegai a:hover{
    background:#54B3DE;
    color:#fff;
}
/* pager */
#category ul.M_pager,
#search ul.M_pager{
	display:flex;
	justify-content:center;
	margin:24px 0 80px;
}
#category ul.M_pager li,
#search ul.M_pager li{
	margin-right:8px;
	display:inline-block;
}
#category ul.M_pager li a,
#category ul.M_pager li.active,
#search ul.M_pager li a,
#search ul.M_pager li.active{
    display:block;
    width:40px;
    height:40px;
    border-radius:50%; 
    -webkit-border-radius:50%;
    -moz-border-radius:50%; 
    padding:8px 0;
    border:none;
    background:#FFF;
    color:#EFAC5E;
    font-size:15px;
	box-sizing:border-box;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
#category ul.M_pager li.active,
#category ul.M_pager li a:hover,
#search ul.M_pager li.active,
#search ul.M_pager li a:hover{
    background:#EFAC5E;    
    color:#fff;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
#category ul.M_pager li.prev a,
#category ul.M_pager li.next a,
#search ul.M_pager li.prev a,
#search ul.M_pager li.next a{
    background:none;
    width:auto;
    height:auto;
    border-radius:0; 
    -webkit-border-radius:0;
    -moz-border-radius:0;
    color:#4D4D4D;
}
#category ul.M_pager li.prev a:hover,
#category ul.M_pager li.next a:hover,
#search ul.M_pager li.prev a:hover,
#search ul.M_pager li.next a:hover{
    color:#888;
    text-decoration:none;   
}
#category ul.M_pager li.next,
#search ul.M_pager li.next{
	display:none;
}

/*****************************************************

    search

*****************************************************/

.main-contents#search h2{
	color:#4D4D4D;
    font-size:28px;
}
.search-result{
    margin-bottom:8px;  
    text-align:center;
}
.search-result font{
    color:#4D4D4D;
}
.item-search{
    border:1px solid #ccc;  
    background:#eee;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:16px;
    margin-bottom:32px;
}
.item-search td{
    padding:8px;    
}
.item-search .btn-search{
    padding:4px 16px;   
}
#r_searchList{
	margin-top:48px;
}

/*****************************************************

    detail

*****************************************************/

.main-contents#detail{
	background-color:#FFF;
	max-width:880px;
	padding:40px;
}
.main-contents#detail h2.item-name{
    text-align:left;
	font-size:20px;
	font-weight:bold;
	margin:0 0 16px 0;

}
.main-contents#detail h3{
	text-align:center;
	font-size:24px;
	margin-bottom:16px;
	color:#4D4D4D;
}
.main-contents#detail h3.item-recent-title{
	margin-bottom:48px;
}
#detail .saleBox .sale{
	font-size:14px;
	padding:10px;
	background-color:#EEE;
	text-align:center;
	margin-bottom:32px;
}
#detail .saleBox .sale .sale-dcday{
    font-weight:bold;
}
#M_topicPathWrap{
    margin:0 0 48px 16px; 
}
.item-wrap{
    margin-bottom:64px;
	overflow:initial;
}
.item-img{
	width:600px;
    box-sizing:border-box;
	margin:0 auto;
}
.item-img img{
	max-height:600px; 
}
.item-img a img{
	width:550px;
}
.M_imageMainWrap .bx-wrapper .bx-viewport{
    box-shadow:none;
}
#detail .M_imageMainWrap .bx-wrapper{
	margin:0 auto 16px;
}
/* IE11用ハック */
@media all and (-ms-high-contrast:none){
	.M_imageMainList{
		align-items:stretch;
	}
}
.M_imageMainList{
    height:100%;
    display:flex;
}
.M_imageMainList-item{
    height:auto;
	width:600px !important;
	overflow:hidden;
	display:none;
}
.M_imageThumbnail{
    text-align:left;
}
.M_imageThumbnail-item{
    display:inline-block;
	margin-bottom:12px;
}
.M_imageThumbnail-item:not(:nth-child(6n)){
	margin-right:12px;
}
.M_imageThumbnail-item a{
    display:block;
    border:3px solid #fff;
}
.M_imageThumbnail-item .active{
    border:3px solid #EFAC5E;
}
.item-img .M_imageThumbnail-item img{
    width:80px;
    height:auto;
}
.item-img .M_imageCatalog img,
.item-img .M_imageThumbnail-item img{
    max-width:80px;
    max-height:80px;
}
.item-detail{
	text-align:left;
	margin:0 auto;
	box-sizing:border-box;
	display:flex;
}
.item-detail h2{
	margin-bottom:24px;
	color:#4D4D4D;
}
.item-detail-text,
.item-detail-addtext{
	position:relative;
    text-align:left;
}
.item-detail-point{
	color:#4D4D4D;
	font-weight:normal;
	font-size:16px;
}
.item-detail-addtext{
	margin:64px 0 0;
}
.item-detail-addtext div{
	position:relative;
}
.item-detail-addtext:before{
	content:"";
	position:absolute;
	width:60px;
	height:6px;
    background-color:#EFAC5E;
	border-radius:5px;
    top:-35px;
}
#M_usualValue td,.item-detail-info td{
    font-size:18px !important;   
    width:auto; 
}
#M_usualValue td{
    padding-bottom:8px; 
}
#M_usualValue font{
    color:#4D4D4D; 
}
.item-detail-bottom{
	display:flex;
}
.item-detail-bottom-info {
    width:50%;
}
.item-detail-bottom-action {
    width:50%;
    padding:0 60px;
    box-sizing:border-box;
    text-align:left;
}
.item-detail .price .saleRate{
    border:solid 1px #EF596F;
    color:#EF596F;
    font-weight:bold;
    margin-left:8px;
    padding:4px;
}
.item-detail .item-detail-price,
.item-detail .item-detail-price #M_price1,
.item-detail .item-detail-price #M_price2,
.item-detail .icon-yen,
.item-detail .member-price #M_member_price{
    font-family:'Rubik', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    font-size:28px;   
	color:#EFAC5E;
	font-weight:bold;
	text-align:left;
}
.item-detail-mprice{
	margin-top:15px;
}
.item-detail-mprice #M_memberValue .M_member_price_in, #M_memberValue .M_member_price_ex{
	font-size:28px;
	font-weight:bold;
	color: #EFAC5E;
	text-align:left;
}
.item-detail-mprice .member-price span,
.item-detail-mprice .member-price input{
	vertical-align:middle;
	line-height:1.3;
}
.item-detail-mprice .member-price .member-price-title{
    background-color: #EFAC5E;
    padding:5px;
    color:#FFF;
    font-weight:bold;
    font-size:14px;
    margin-right:10px;
}
.item-detail-info table table td:first-child{
    width:3em;  
}
.item-detail-info font{
    color:#D42222;  
}
.item-detail-info select{
    margin:8px 0;
    padding:4px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    border:1px solid #ccc;
    font-size:16px; 
}
input[name="amount"],
input[name="brand_name_option_amount"]{
    padding:4px 8px;
    width:20px; 
    border:1px solid #ccc;
    font-size:18px;
}
img[src$="basket_up.gif"],img[src$="basket_down.gif"]{
    display:none;   
}
.item-detail-option .M_inventory{
	margin-top:24px;
}
.item-detail-option .M_option-group{
    padding-top:32px;
}
.item-detail-option .M_inventory p.stockTitle span.hosoku{
	font-size:16px;
    color:#666;
}
.M_inventory *{
    font-size:12px;
}
.M_inventory .M_select-option-soldout, .M_inventory .M_select-option-smallstock{
    line-height:16px;
}
.M_inventory p.stockTitle{
    display:block;
    line-height:2.5;
    font-size:16px;
    font-weight:bold;
    color:#999;    
}
.item-detail-option .M_inventory table.stockList th{
	color:#4D4D4D;
	font-size:12px;
}
.M_inventory table.stockList th, .M_inventory table.stockList td{
	padding:5px !important;
	min-width: 5em;
}
.M_inventory table.stockList td{
	background-color:#FFF;
}
.M_inventory span[class^="M_select-option"]{
	display:block;
	margin-top:4px;
}
.M_inventory .M_select-option-soldout,
.M_inventory .M_select-option-smallstock{
	color:#D42222;
}
.M_inventory .M_select-option-soldout{
	margin-bottom:4px;
}
.M_select-option-restock-btn:link,
.M_select-option-restock-btn:active,
.M_select-option-restock-btn:visited{
	display:inline-block;
	padding:0px 8px;
	background:#999;
	color:#fff;
	border-radius:3px;
}
.M_select-option-restock-btn:hover{
	background:#666;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
	text-decoration:none;
}
.item-basket-btn{
    margin:40px 0 0 0;
}
.item-basket-btn a{
	width:100%;
    font-size:18px; 
    padding:18px 0;
	margin:0;
	text-align:center;
	font-weight:bold;
}
.item-basket-btn a:hover{
    background:#666;
	text-decoration:none;
}
.item-basket-btn .soldout{   
    background:#ddd;
    color:#666!important;   
    width:100%;
    font-size:18px;
    padding:18px 0;
	min-width:200px;
    cursor:default;
}
.item-sns li{
    display:inline; 
    vertical-align:middle;
}
.item-sns iframe{
    height:20px!important;  ;
}
.detail-recent h3{
    text-align:center;
    margin:16px auto 64px;  
    font-size:25px;
}
.item-addimg{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
	margin-bottom: 64px;
}
.item-addimg .addimg-content{
	width:260px;
	margin:0 auto 24px;
}
.item-addimg .addimg-content img{
	width:100%;
}
.item-addimg .addimg-content .addimg-caption{
	margin-top:16px;
	text-align:left;
}
.item-detail-option{
	display:block;
	margin:16px 0;
}
.item-detail-quantity{
	display:block;
	margin:16px 0;
}
.item-detail-quantity .quantity-amount{
    margin-bottom:8px;
    display:inline-block;
}
.item-detail-quantity .M_item-stock-smallstock{
    font-size:13px;
    color:#EF596F;
    margin-left:8px;
}
.item-detail-quantity .quantity-label{
	display:block;
	margin-bottom:8px;
    font-size:16px;
    font-weight:bold;
    color:#999;
}
.item-detail-quantity .quantity-amount{
	position:relative;
	display:inline-block;
	width:100%;
}
.item-detail-quantity .quantity-amount .amount-upcount,
.item-detail-quantity .quantity-amount .amount-downcount{
    position:absolute;
    display:flex;
	align-items:center;
    justify-content:center;
}
.item-detail-quantity .quantity-amount .amount-upcount img,
.item-detail-quantity .quantity-amount .amount-downcount img{
	width:17px;
}
.item-detail-quantity .quantity-amount .amount-upcount{
	top:0px;
    right:0px;
    border:solid 1px #CCC;
	height:100%;
	width:50px;
	box-sizing:border-box;	
}
.item-detail-quantity .quantity-amount .amount-downcount{
	top:0px;
    left:0px;
    border:solid 1px #CCC;
	height:100%;
	width:50px;
	box-sizing:border-box;	
}
.item-detail-option select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	position:relative;
	background:url(/images/original_design_default/samplesource/11/icon-down.png) right 15px bottom 50% no-repeat;
	background-size:17px, 100%;
}
.item-detail-option label{
	display:inline-block;
    line-height:2.5;
    font-size:16px;
    font-weight:bold;
	width:100%;
    color:#999;
}
.item-detail-option select{
	display:block;
}
.item-detail-option select{
	font-size:16px;
	padding:8px;
	width:100%;
	height:50px;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ccc;
}
.item-detail-option ::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
	display:none;
}
.item-detail-quantity input{
	padding:12px;
	font-size:18px;
	width:100%;
	height:50px;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.item-detail-quantity a{
	text-decoration:underline;
}
.item-detail-quantity a:hover{
	text-decoration:none;
}
.item-wrap-top{
	display:flex;
	justify-content:space-around;
}
.item-wrap-middle{
	margin-top:40px;
}
.item-wrap-bottom{
	margin-top:64px;
}
.item-detail-info{
	width:50%;
	padding:40px;
	box-sizing:border-box;
}
.item-detail-data {
	width:50%;
	border-left:solid 1px #CCC;
	padding:40px;
	box-sizing:border-box;
}
.item-review{
	margin-bottom:64px;
}
.item-review #M_review{
	margin-top:40px;
	padding:0 40px;
}
.item-review #M_review textarea{
	width:100%;
	height:80px;
	padding:8px;
	box-sizing:border-box;
	background-color:#F5F5F5;
	border:solid 1px #CCC;
}
.item-review #M_review input[name="review_name"]{
	width:90%;
	padding:8px;
	margin:16px 0;
	box-sizing:border-box;
	background-color:#F5F5F5;
	border:solid 1px #CCC;
}
.item-review #M_review .ic1 li span,
.item-review #M_reviewView .ic1 span{
	background:url(/images/original_design_default/samplesource/11/icon-star.png) center -2px no-repeat;
	height:14px;
	padding-right:2px;
}
.item-review .M_btnStyle{
	width:20%;
	font-size:16px;
	padding:10px 0;
	margin:24px 0;
	text-align:center;
	font-weight:bold;
}
.item-review .M_btnStyle:hover {
    background:#666;
    text-decoration:none;
}
#M_reviewView td {
	border:solid #FFF 4px;
	font-size:14px;
}
#M_reviewView td a{
	display:block;
	padding:8px;
}
#M_reviewView td a:hover{
	text-decoration:none;
	background-color:#F5F5F5;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
#M_reviewView tr:first-child {
	text-align:center;
	color:#777;
}
#M_reviewView tr:nth-child(3) {
	background-color:#F5F5F5;
}
#M_reviewView tr:nth-child(3) td {
	text-align:center;
	padding:8px;
}
#M_reviewView .line{
	display:none;
}
.item-recent td.line{
	display:none;
}

/*****************************************************

    basket

*****************************************************/

#basket h2{
	color:#4D4D4D;
    font-size:28px;
}
.basket-wrap{
    margin-bottom:60px;    
}
.basket{
    border-top:1px solid #ccc;  
    margin-bottom:8px;  
}
.basket tr{
    border-bottom:1px solid #ccc;  
}
.basket tr:nth-last-child(-n+2){
    border-bottom:none;  
}
.basket tr:first-child{
    border-bottom:1px solid #ccc;  
}
.basket td.basket-price{
    min-width: 75px;
}
.basket td.basket-point {
    min-width: 60px;
}
.basket th,.basket td{
    padding:8px;
    text-align:center;
}
.basket td table td{
    padding:0;
    border:none;    
}
.basket .basket-img{
	padding:24px 0;
}
.basket .basket-img img{
    width: auto;
    max-width: 120px;
}
.basket .basket-name{
    text-align:left;
}
.basket .basket-matomegai{
    margin-top:4px;
    display:inline-block;
}
.basket .basket-matomegai a{
    border:1px solid #54B3DE;
    padding:2px 5px;
    font-size:11px;
    display:inline-block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#54B3DE;
}
.basket .basket-matomegai a:hover{
    background:#54B3DE;
    color:#fff;
}
.basket .basket-total{
    text-align:right;
    padding:12px 16px;
    font-size:18px;
}
.basket .basket-total a{
    color:#54b3de;
    text-decoration:underline;
    margin-left:4px;
}
.basket .basket-total a:hover{
    text-decoration:none;
}
.basket .basket-total em{
	font-weight:bold;
	font-size:24px;
	line-height:1.0;
}
.basket .total-wrap{
    width:60%;
    margin:0 0 0 auto;
}
.basket .total-item{
    float:left;
    clear:left;
    width:60%;
    text-align:right;
}
.basket .matomegai-wrap{
    font-size:15px;
    margin-bottom:8px;
}
.btn-small{
    background:#888;
    font-size:13px;
    padding:6px 8px;
}
.basket-option{
    margin-top:8px; 
}
.basket_option_mulopt_box{
	margin-left: 0 !important;
}
.basket-option select {
    max-width: 140px;
    margin-right: 16px;
    border: none;
    padding: 8px;
    font-size: 14px;
}
.basket-option select:last-child {
    margin-right: 0;
}
.quantity-wrap,.quantityWrap{
    display:table;
    margin:0 auto;
}
.basket-quantity{
    width:20px!important;   
    font-size:18px;
}  
.basket-quantity input[name="amount"]{
	font-size:14px;
    height:24px;
	border-radius:3px;
	text-align:left;
}
.basket-quantity,.basket-amend{
	min-width: 42px;
}
.basket-quantity,.basket-amend,.quantityInput,.quantityAmend{
    display:table-cell; 
    vertical-align:middle;
    padding:0 2px;
}
.basket-empty{
    margin:56px 0;  
}
.btn-wrap{
	margin-top:24px;
}
.btn-wrap-back{
    float:left; 
}
.btn-wrap-order{
    float:right;    
}
.btn-wrap-back .btn{
    background:#888;    
}
.btn-wrap-back .btn:not(:last-child){
	margin-right:8px;
}
.basket-btn a{
    border-radius:50%;
    padding:8px;
    box-sizing:border-box;
    background-color:#CCC;
}
.basketQunantity{
    display:none;
}
.basket-haisou .carriageWrap{
	text-align: right;
}
/* Amazonボタン */
.amazonButton{
    width:230px;
    margin-left:8px;
}

/*****************************************************

    news

*****************************************************/

#news h2{
	color:#4D4D4D;
    font-size:28px;
}
.main-contents#news h2{
	margin:0 auto 48px;	
}
.main-contents#news .news-list tr{
	background:  none;
}
.news-head{
    font-size:18px;
    margin-bottom:32px;
    border-bottom:1px solid #ccc;
    padding-bottom:16px;    
}
.news-head .date{
    margin-right:8px;
    font-size:15px; 
}
.news-contents{
    border-bottom:1px solid #ccc;
    text-align:left;    
    padding-bottom:60px;
    line-height:1.7;
    margin-bottom:32px;
}
.news-list table tr:first-child{
    display:none;   
}
.news-list table .lims{
    padding:12px 8px;
    border-bottom:1px solid #ccc;   
}

/*****************************************************

    about

*****************************************************/

#about h2{
	color:#4D4D4D;
    font-size:28px;
}

/*****************************************************

    matomegai

*****************************************************/

#matomegai h2{
    text-align:center;
    margin:48px auto;
    font-size:25px;
}
#matomegai .pankuzu,
#matomegai .icon,
#matomegai .name img,
#matomegai .quantity,
#matomegai .else,
#matomegai .else + p,
#matomegai .content,
#matomegai .btnWrap,
#matomegai .wishlistBtn{
    display:none;
}
#matomegai .listSort{
    text-align:center;
    margin:8px 0 32px;
}
#matomegai .listSort li{
    display:inline;
    margin:0 4px;
}
#matomegai .innerList li{
    width:25%;
    float:left;
    text-align:center;
}
#matomegai .innerBox{
    padding:16px;
}
#matomegai .imgWrap img{
    margin-bottom:16px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#matomegai .innerBox a{
    font-size:18px;
}
/* pager */
#matomegai ul.M_pager li a,
#matomegai ul.M_pager li.active{
    display:inline-block;
    width:28px;
    height:28px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    padding:0;
    border:none;
    background:#D9D9D9;
    line-height:28px;
    color:#999;
    font-size:14px;
    margin:0 3px;
}
#matomegai ul.M_pager li.active,
#matomegai ul.M_pager li a:hover{
    background:#000;
    color:#fff;
}
#matomegai ul.M_pager li.prev a,
#matomegai ul.M_pager li.next a{
    background:none;
    width:auto;
    height:auto;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    color:#4D4D4D;
}
#matomegai ul.M_pager li.prev a:hover,
#matomegai ul.M_pager li.next a:hover{
    color:#888;
    text-decoration:none;
}

/*****************************************************

    guide

*****************************************************/

.main-contents#guide .M_guideContent{
    margin:0 auto;
}
.main-contents#guide h2{
	color:#4D4D4D;
    font-size:28px;
}
.main-contents#guide .M_txtTitle{
	margin:0 auto 64px;
	padding-top:86px;
}
.main-contents#guide .M_txtTitle::before{
	top:140px;	
}
.main-contents#guide .M_txtTitle::after{
	top:144px;	
}
.main-contents#guide .M_guideNav{
	margin-top:64px;
	margin-bottom:0;
}
.main-contents#guide .M_guideNav li a{
	color:#FFF;
	background-color:#EFAC5E;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
.main-contents#guide .M_guideNav li a:hover{
	background:#666;
	text-decoration:none;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}

/*****************************************************

    footer

*****************************************************/

#footer{
    margin-top:40px;  
	color:#4D4D4D;
}
.footer-guide,.footer-nav{
    padding:24px 0; 
    text-align:left;
}
.footer-guide{
    border-top:1px solid #ccc;
    color:#666; 
    background:#eee;
}
.footer-guide-area,.footer-nav-area{
    box-sizing:border-box;
    padding:16px;   
    font-size:13px;
}
.footer-guide-title{
    margin-bottom:24px;
    font-weight:bold;   
    font-size:15px;
}
.footer-guide-list li{
    margin-bottom:16px; 
}
.footer-guide-list h6{
    font-weight:bold;
    margin-bottom:8px;  
}
.page-top{
    position:absolute;
    left:50%;
    top:-26px;  
    display:block;
    width:50px;
    height:32px;
    background:#4D4D4D url(/images/original_design_default/samplesource/11/pagetop.png) no-repeat center center;
    text-indent:-9999em;
    margin-left:-16px;
}
.footer-nav{
    color:#777; 
    font-size:13px;
    position:relative;
}
.footer-nav a{
    color:#999; 
}
.footer-nav a:hover{
    color:#4D4D4D; 
	text-decoration:none;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
}
.footer-shop-name{
    font-weight:bold;
    margin-bottom:4px;
    font-size:16px;
}
.footer-nav-list{
    text-align:center;
}
.footer-nav-list li{
    display:inline; 
    padding:0 16px;
}
.footer-nav-list li:not(:last-child){
	border-right:solid 1px #AAA;
}
.footer-social {
    margin-top:16px;
}
.footer-social .footer-social-list{
	display:flex;
	align-items:center;
	justify-content:center;
}
.footer-social .footer-social-list li{
    display:flex;
    align-items:center;
    background-color:#4D4D4D;
	height:38px;
	width:38px;
    border-radius:30px;
    box-sizing:border-box;
}
.footer-social .footer-social-list li:not(:last-child){
	margin-right:24px;
}
.footer-social .footer-social-list li a{
	display:flex;
    align-items: center;
    justify-content: center;
	margin:0 auto;
	height:38px;
	width:38px;
}
.footer-social .footer-social-list li a img{
	line-height: 12px;
}
address{
    text-align:center;
    color:#4D4D4D; 
    font-size:13px;
	margin:8px 0 24px;
}

.header_search input {
	display:block;
	width:140px;/*←横幅*/
	height:24px;/*←高さ幅*/
	border:1px solid #ccc;/*←枠線の指定*/
	background:#f0f0f0;/*←背景色の指定*/
	margin:0 4px 0 0;/*←検索窓の右側に少し隙間をあける*/
}

	
	#MakeShopTopSearchButton {
	display:inline-block;
	vertical-align:top;
	width: 50px;/*←ボタンの横幅のサイズ*/
	height: 20px;/*←ボタンの縦幅のサイズ*/
	background: url("") no-repeat scroll;
	text-indent: -9999em;
}
