@charset "utf-8";

/* 全てのstockList */
#itemDetail #itemInfo table.stockList{
    margin:0;
}
#itemDetail #itemInfo table.stockList th,#itemDetail #itemInfo table.stockList td{
    font-weight:normal;
    border:1px solid #cecfce;
    font-size:10pt;
    text-align:center;
    padding:3px 5px;
}
#itemDetail #itemInfo table.stockList th{
    font-weight:bold;
    background:#efefef;
}
#itemDetail #itemInfo table.stockList th.leftLine{
    text-align:left;
}
#itemDetail #itemInfo div.M_inventory p.stockTitle{
    margin:12px 0 3px;
    font-weight:bold;
}
#itemDetail #itemInfo div.M_inventory p.stockTitle span.hosoku{
    font-weight:normal;
    font-size:11px;
}
#itemDetail #itemInfo div.M_inventory p.stockTxt{
    margin:5px 0 10px;
}


/* 独自デザイン用 */
#M_itemInfo div.M_inventory table.stockList{
    margin:0;
}
#M_itemInfo div.M_inventory p.stockTitle{
    margin:12px 0 3px;
    font-weight:bold;
}
#M_itemInfo div.M_inventory p.stockTitle span.hosoku{
    font-weight:normal;
    font-size:11px;
}
#M_itemInfo div.M_inventory p.stockTxt{
    margin:5px 0 10px;
}


/* 旧テンプレ用 */
.M_inventory table.stockList{
    margin:0;
}
.M_inventory table.stockList th,.M_inventory table.stockList td{
    font-weight:normal;
    border:1px solid #cecfce;
    font-size:10pt;
    text-align:center;
    padding:3px 5px;
}
.M_inventory table.stockList th{
    font-weight:bold;
    background:#efefef;
}
.M_inventory table.stockList th.leftLine{
    text-align:left;
}
.M_inventory p.stockTitle{
    margin-bottom:3px;
    font-weight:bold;
}
.M_inventory p.stockTitle span.hosoku{
    font-weight:normal;
    font-size:11px;
}
.M_inventory p.stockTxt{
    margin:5px 0 10px;
}

/* ユーザー評価 */
#M_starList table{
    border-collapse: collapse;
    border-spacing: 0;
    width:600px;
}
#M_starList th,
#M_starList td{
    padding:0;
}
#M_starList th{
    width:42px;
    font-weight:normal;
}
#M_starList input.text{
    width:110px;
}
#M_starList .top{
    background:url(/images/brand/review_box_top.png) repeat-x top;
}
#M_starList .btm{
    background:url(/images/brand/review_box_btm.png) repeat-x top;
}
#M_starList .leftSide{
    width:4px;
    background:url(/images/brand/review_box_left_02.png) repeat-y left;
}
#M_starList .rightSide{
    width:4px;
    background:url(/images/brand/review_box_right_02.png) repeat-y right;
}
#M_starList td div{
    float:right;
    width:88px;
    padding-top:25px;
    text-align:left;
}
#M_starList ul{
    overflow:hidden;
    _zoom:1;
    padding:0;
    margin:0;
}
#M_starList li{
    float:left;
    padding:0 8px 0 0;
    list-style:none;
    overflow:hidden;
    _zoom:1;
}
#M_starList li input{
    margin:0 3px 0 0;
    padding:0;
    float:left;
    display:inline;
    width:12px;
    height:12px;
}
#M_starList td.listTd{
    padding-bottom:4px;
}
#M_starList textarea{
    resize:none;
    float:left;
    width:410px;
    height:94px;
}
#M_starList .imgLi li span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#M_starList .ic1 li span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#M_starList .ic2 li span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#M_starList .ic3 li span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#M_starList .ic4 li span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#M_starList .txtLi li span{
    margin-right:2px;
    line-height:1;
    float:left;
}


/* template4-7 */
#M_starList.sl2{
    margin-top:8px;
}
#M_starList.sl2 input.text{
    width:60px;
}
#M_starList.sl2 li{
    padding-right:4px;
}
#M_starList.sl2 a img{
    margin-left:2px;
}

/* template19 */
#main #review p.title{
    float:left;
}
#main #review ul{
    overflow:hidden;
    _zoom:1;
    padding:0;
    margin:0;
    float:right;
    width:500px;
}
#main #review li{
    float:left;
    padding:0 8px 0 0;
    list-style:none;
    overflow:hidden;
    _zoom:1;
}
#main #review li input{
    margin:0 3px 0 0;
    padding:0;
    float:left;
    display:inline;
    width:12px;
    height:12px;
}
#main #review .imgLi li span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#main #review .ic1 li span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#main #review .ic2 li span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#main #review .ic3 li span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#main #review .ic4 li span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#main #review .txtLi li span{
    margin-right:2px;
    line-height:1;
    float:left;
}
#main #review textarea{
    resize:none;
}
#main #reviewResult .imgLi span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#main #reviewResult .ic1 span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#main #reviewResult .ic1 span.off{
    background:url(/images/brand/starIcon1_off.png) no-repeat;
}
#main #reviewResult .ic2 span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#main #reviewResult .ic2 span.off{
    background:url(/images/brand/starIcon2_off.png) no-repeat;
}
#main #reviewResult .ic3 span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#main #reviewResult .ic3 span.off{
    background:url(/images/brand/starIcon3_off.png) no-repeat;
}
#main #reviewResult .ic4 span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#main #reviewResult .ic4 span.off{
    background:url(/images/brand/starIcon4_off.png) no-repeat;
}
#main #reviewResult .txtLi span{
    margin-right:2px;
}
#M_starContri table{
    border-collapse: collapse;
    border-spacing: 0;
    width:600px;
    margin-top:10px;
}
#M_starContri th{
    border-top:1px solid #cecece;
    border-bottom:1px solid #cecece;
    padding:4px 0;
    text-align:center;
    font-weight:normal;
}
#M_starContri td{
    padding:4px 0;
    text-align:center;
}
#M_starContri td p{
    text-align:left;
}
#M_starContri .imgLi{
    text-align:center;
}
#M_starContri .imgLi span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#M_starContri .ic1 span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#M_starContri .ic1 span.off{
    background:url(/images/brand/starIcon1_off.png) no-repeat;
}
#M_starContri .ic2 span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#M_starContri .ic2 span.off{
    background:url(/images/brand/starIcon2_off.png) no-repeat;
}
#M_starContri .ic3 span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#M_starContri .ic3 span.off{
    background:url(/images/brand/starIcon3_off.png) no-repeat;
}
#M_starContri .ic4 span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#M_starContri .ic4 span.off{
    background:url(/images/brand/starIcon4_off.png) no-repeat;
}
#M_starContri .txtLi span{
    margin-right:2px;
}

/* サンプルソース */
#M_review ul{
    overflow:hidden;
    _zoom:1;
    padding:0;
    margin:0;
    margin-top:4px;
}
#M_review li{
    float:left;
    padding:0 6px 0 0;
    list-style:none;
    overflow:hidden;
    _zoom:1;
}
#M_review li input{
    margin:0 2px 0 0;
    padding:0;
    float:left;
    display:inline;
    width:12px;
    height:12px;
}
#M_review .imgLi li span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:1px;
}
#M_review .ic1 li span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#M_review .ic2 li span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#M_review .ic3 li span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#M_review .ic4 li span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#M_review .txtLi li span{
    float:left;
    margin-right:1px;
    line-height:1;
}
#M_review textarea{
    width:430px;
    height:40px;
    margin-right:10px;
    margin-bottom:5px;
}
#M_reviewView .imgLi{
    text-align:center;
    padding:4px 0;
}
#M_reviewView .imgLi span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#M_reviewView .ic1 span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#M_reviewView .ic1 span.off{
    background:url(/images/brand/starIcon1_off.png) no-repeat;
}
#M_reviewView .ic2 span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#M_reviewView .ic2 span.off{
    background:url(/images/brand/starIcon2_off.png) no-repeat;
}
#M_reviewView .ic3 span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#M_reviewView .ic3 span.off{
    background:url(/images/brand/starIcon3_off.png) no-repeat;
}
#M_reviewView .ic4 span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#M_reviewView .ic4 span.off{
    background:url(/images/brand/starIcon4_off.png) no-repeat;
}
#M_reviewView .txtLi span{
    margin-right:2px;
}
#M_reviewView .txtLi span.off{
  color:#B3B3B3;
}

/* ユーザー評価全文表示 */
#M_reviewViewAll{
    margin-top:32px;
    width:600px;
    word-wrap: break-word;
    overflow:hidden;
}
#M_reviewViewAll #M_reviewHead{
    overflow:hidden;
    _zoom:1;
    line-height:24px;
    margin-bottom:8px;
}
#M_reviewViewAll .M_reviewTotal{
    float:left;
    width:30%;  
    text-align:left;
    margin:0;
}
#M_reviewViewAll .M_reviewTotal span{
    font-weight:bold;   
}
#M_reviewViewAll .M_pager{
    float:right;
    width:70%;  
    text-align:right;
    margin:0;
}
#M_reviewViewAll .M_reviewList{
    border:1px solid #ccc;  
    background:#eee;
    margin-bottom:8px;
    overflow:hidden;
    _zoom:1;
}
#M_reviewViewAll .M_reviewInner{
    margin:8px; 
    overflow:hidden;
    _zoom:1; 
}
#M_reviewViewAll .M_reviewInfo{
    overflow:hidden;
    _zoom:1;
    border-bottom:1px dashed #ccc;    
    line-height:24px;
}
#M_reviewViewAll .M_reviewName p{
    margin:0;
    line-height:1.6;
}
#M_reviewViewAll .M_reviewRate{
    float:left; 
    width:30%;
    overflow:hidden;
    _zoom:1;
}
#M_reviewViewAll .M_reviewRate p{
    float:left;
    margin:0;
    margin-right:8px;
}
#M_reviewViewAll .M_reviewRateEva{
    overflow:hidden;
    _zoom:1;    
    float:left;
    margin-top:2px;
}
#M_reviewViewAll .imgLi span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:24px;
    margin-right:1px;    
}
#M_reviewViewAll .ic1 span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#M_reviewViewAll .ic1 span.off{
    background:url(/images/brand/starIcon1_off.png) no-repeat;
}
#M_reviewViewAll .ic2 span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#M_reviewViewAll .ic2 span.off{
    background:url(/images/brand/starIcon2_off.png) no-repeat;
}
#M_reviewViewAll .ic3 span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#M_reviewViewAll .ic3 span.off{
    background:url(/images/brand/starIcon3_off.png) no-repeat;
}
#M_reviewViewAll .ic4 span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#M_reviewViewAll .ic4 span.off{
    background:url(/images/brand/starIcon4_off.png) no-repeat;
}
#M_reviewViewAll .txtLi span{
    margin-right:2px;
}
#M_reviewViewAll .txtLi span.off{
  color:#B3B3B3;
}
#M_reviewViewAll .M_reviewerInfo{
    float:right;
    width:60%;
    text-align:right;
}
#M_reviewViewAll .M_reviewerInfo p{
    display:inline; 
    margin:0 4px 0 0;
}
#M_reviewViewAll .M_reviewRead{
    background:#fff;    
}
#M_reviewViewAll .M_reviewReadText{
    margin:8px;
    padding:8px;
    text-align:left;
    line-height:1.4;
}
#M_reviewViewAll #M_reviewBtm{
    overflow:hidden;
    _zoom:1;
    line-height:24px;
}

#M_reviewViewAll .M_reviewImg{
	float:left;
	width:92px;	
}
#M_reviewViewAll .M_reviewImg img{
	border:1px solid #999;	
}
#M_reviewTopArea #M_reviewViewAll .M_reviewBox{
	padding-left:100px;	
}
/* top用スタイル */
#M_reviewAll #M_reviewViewAll,#M_reviewPart #M_reviewViewAll{
	width:100%;	
	margin-top:0;
}
#M_reviewAll .M_reviewList{
	margin:10px;	
	margin-top:0;
}

/* top用一行表示 */
#M_reviewPart table{
	width:434px;
	margin:10px;	
	margin-top:0;	
}
#M_reviewPart th,#M_reviewTop td{
	padding:3px;
	vertical-align:middle;	
}
#M_reviewPart th{
	font-size:12px;
	color:#333;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	background:#e9e9e9;
	text-align:center;
}
#M_reviewPart td{
	border-bottom:1px dashed #c9c9c9;	
	padding:3px;
}
#M_reviewPart .M_reviewImg{
	width:50px;	
	text-align:center;
}
#M_reviewPart .M_reviewReadText{
	width:200px;	
}
#M_reviewPart .M_reviewReadText a{
	font-size:11px;	
	padding-left:4px;
}
#M_reviewPart .M_reviewRate{
	width:70px;	
}

/* popup */
#rvwPup .imgLi{
    text-align:center;
    padding:4px 0;
}
#rvwPup .imgLi span{
    display:block;
    text-indent:-9999em;
    float:left;
    width:12px;
    height:12px;
    margin-right:2px;
}
#rvwPup .imgLi.ic1 span{
    background:url(/images/brand/starIcon1.png) no-repeat;
}
#rvwPup .imgLi.ic1 span.off{
    background:url(/images/brand/starIcon1_off.png) no-repeat;
}
#rvwPup .imgLi.ic2 span{
    background:url(/images/brand/starIcon2.png) no-repeat;
}
#rvwPup .imgLi.ic2 span.off{
    background:url(/images/brand/starIcon2_off.png) no-repeat;
}
#rvwPup .imgLi.ic3 span{
    background:url(/images/brand/starIcon3.png) no-repeat;
}
#rvwPup .imgLi.ic3 span.off{
    background:url(/images/brand/starIcon3_off.png) no-repeat;
}
#rvwPup .imgLi.ic4 span{
    background:url(/images/brand/starIcon4.png) no-repeat;
}
#rvwPup .imgLi.ic4 span.off{
    background:url(/images/brand/starIcon4_off.png) no-repeat;
}
#rvwPup .txtLi span{
    margin-right:2px;
}

/**************************************************

    価格

/*************************************************/
#M_memberValue{
    display:none;
}
#M_memberValue .M_member_price_in,
#M_memberValue .M_member_price_ex{
    color:#a00000;
    font-weight:bold;
    font-size:15px;
}
#M_memberValue input.M_member_price_in,
#M_memberValue input.M_member_price_ex{
    border:none;
    text-align:right;
}
#M_memberValue input.M_member_price_tax{
    border:none;
    color:#000;
    text-align:right;
}

/* 再入荷お知らせ */
#M_restockSend,#main #M_restockSend{
	margin:5px auto 15px;	
}
.M_restockOption{
 text-align:center;
}
#M_restockSend a:link,
#M_restockSend a:visited,
#M_restockSend a:active,
.M_restockOption a:link,
.M_restockOption a:visited,
.M_restockOption a:active,
#itemDetail .M_restockOption a:link,
#itemDetail .M_restockOption a:visited,
#itemDetail .M_restockOption a:active{
	text-decoration:underline;
}
#M_restockSend a:hover,
.M_restockOption a:hover,
#itemDetail .M_restockOption a:hover{
	text-decoration:none;
}

/**************************************************

    商品グループ

/*************************************************/

#M_group {
    width:100%;
    border-collapse:collapse;
    margin-bottom:15px;
}
#M_group tr,#M_group td{
    padding:0;
}
#M_group td.itemBox{
    width:110px;
    text-align:center;
    vertical-align:top;
}
#M_group td.itemImg{
    width:110px;
    text-align:center;

}
#M_group td.line{
    width:4px;
}
#M_group p{
    text-align:center;
    margin:0;
}
#M_group  .category{
    font-weight:bold;
}

/**************************************************

    名入れ

/*************************************************/
#M_nameCustom{
	margin:10px auto;	
}
#M_nameCustom .M_nameTxt{
	margin-bottom:16px;
}	
#M_nameCustom .M_nameList li{
	margin-bottom:16px;	
	text-align:left;
}
#M_nameCustom .M_nameList li.lastChild{
	margin-bottom:0;	
}
#M_nameCustom .M_nameItem{
	margin-bottom:8px;	
}
#M_nameCustom .M_nameLimit{
	text-align:right;
	font-size:11px;
	color:#999;	
	margin-top:4px;
}
#M_nameCustom .M_nameInput,#M_nameCustom .M_nameTextarea{
	width:100%;
	padding:2px 0;	
}
#M_nameCustom .M_nameRequired {
    background:#cc0000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin-right: 8px;
    padding: 1px 3px;
}
#M_nameCustom .M_errorMessage{
	color:#ff0000;
	margin-top:4px;
	background: url("../../shop/images/errorIcon.png") no-repeat 0 0;
	padding-left:20px;	
}
