<div id="pageContact" class="pageContact">
  <div class="inner">
    <div class="contact-inner">
      <span class="close">&times;</span>
      <h2 class="contact-title">
        お名前
      </h2>
      <p class="contact-txt">以下のフォームの項目を入力し、よろしければ「この内容で問い合わせる」ボタンをクリックしてください。</p>
      <div class="form-contact">
        <form method="post" action="" name="myForm" id="myForm">
          <div class="form-group">
            <label for="tv1">お名前 <span class="necessary_input">必須</span></label>
            <input type="text" id="tv1" name="tv1" class="form-control" value="" placeholder="名前入力">
          </div>
          <div class="form-group">
            <label for="tv2">メールアドレス <span class="necessary_input">必須</span></label>
            <input type="text" id="tv2" name="tv2" class="form-control" value="" placeholder="メールアドレス入力">
          </div>
          <div class="form-group">
            <label class="alignItems" for="tv4">問い合わせ内容 <span class="necessary_input">必須</span></label>
            <textarea id="tv4" name="tv4" class="form-control" placeholder="内容入力"></textarea>
          </div>
        </form>
      </div>
      <div class="policyWrap">
        <h2 class="policyTitle">個人情報保護ポリシー</h2>
        <div class="privacyPolicyWrap">
          <p class="privacyPolicyWrap-title">個人情報保護ポリシー</p>
          <p class="privacyPolicyWrap-txt">「Rainbow Farms | レインボーファームズ」では利用者の皆様が安心してご利用頂けるよう最低限の個人情報を提供頂いております。<br>
            「Rainbow Farms | レインボーファームズ」ではご提供頂いた個人情報の保護について最大限の注意を払っています。 <br>
            「Rainbow Farms | レインボーファームズ」の個人情報保護についての考え方は以下の通りです。
          </p>
          <ul class="privacyPolicyWrap-list">
            <li>■ 弊社では会員様により登録された個人及び団体や法人の情報については、
              「Rainbow Farms | レインボーファームズ」 において最先端の機能やサービスを開発・提供するためにのみ利用し、
              会員個人情報の保護に細心の注意を払うものとします。</li>
            <li>■ このプライバシーポリシーの適用範囲は、「Rainbow Farms | レインボーファームズ」 で提供されるサービスのみであります。
              (範囲は下記、第1項に規定) </li>
            <li>■ 本規約に明記された場合を除き、目的以外の利用は致しません。(目的は下記、第2項に規定) </li>
            <li>■ 本規約に明記された場合を除き、第三者への開示は致しません。(管理は下記、第2項に規定) </li>
            <li>■ その他本規約に規定された方法での適切な管理を定期的に行います。</li>
            <li>■ 「Rainbow Farms | レインボーファームズ」は利用者の許可なくして、プライバシーポリシーの変更をすることができます
              「Rainbow Farms | レインボーファームズ」が、個人情報取得内容の変更・利用方法の変更・開示内容の変更等をした際には、</li>
          </ul>
        </div>
        <p id="agree_error" class="errorMesseage"></p>
        <div class="agreeBox">
          <input type="checkbox" name="agree" id="agree" class="agreeCheck">
          <label for="agree">個人情報保護ポリシーに同意する</label>
        </div>
      </div>
      <div class="btnWrap">
        <a class="btn" id="send_btn" href="#">この内容で問い合わせる</a>
      </div>
    </div>
  </div>
  <div class="bg-overlay"></div>
</div>