<header class="header">
  <div class="inner">
    <div class="headerCnt d-flex align-items-center">
      <div class="headerCnt__left">
        <h1>
          <a href="<{$url.top}>" class="headerCnt__logo">
            <{if $shop.logo_url}><img src="<{$shop.logo_url}>" alt="<{$shop.name}>"><{else}><{$shop.name}><{/if}>
          </a>
        </h1>
        <div class="headerHeight hideSP align-items-center justify-content-end">
          <div class="headerCnt__nav">
            <ul class="navList align-items-center">
              <li class="navList__item content" id="menu1">
                <a href="<{$url.about}>" class="navLinks">基本情報</a>
              </li>
              <li class="navList__item content" id="menu2">
                <a href="<{$url.ghee}>" class="navLinks">商品情報</a>
              </li>
              <li class="navList__item content" id="menu3">
                <a href="<{$url.recipe}>" class="navLinks">レシピ</a>
              </li>
              <li id="contact" class="navList__item contactClick">
                <a href="#" class="navLinks">問い合わせ</a>
              </li>
              <li class="navList__item">
                <a href="<{$url.blog}>" class="navLinks">BLOG</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="headerCnt__right hideSP align-items-center justify-content-end">
        <div class="headerCtn-cart">

          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <form name="top_form_log" action="https://www.makeshop.jp/ssl/?ssltype=main&amp;db=rainbowfarms" method="post" target="_top"></form>
                <td>
                  <ul>
                    <li class="icon-mypage"><a href="javascript:ssl_login('mypage')"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/basket.png" alt=""></a></li>
                  </ul>
                </td><input type="hidden" name="type" value="login">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="headerCnt__right hidePC align-items-center justify-content-end">
        <div class="headerCnt__nav">
          <ul class="navList align-items-center">
            <li class="navList__item itemSP">
              <a href="<{$url.about}>" class="contentSP navLinks">基本情報</a>
              <div class="contentSP__wrapper"></div>
              <div class="menuSP">
                <ul class="menuList">
                  <li class="menuList__item">
                    <a href="<{$url.keto}>" class="links">
                      <span>レインボーファームとは？ </span>
                    </a>
                  </li>
                  <li class="menuList__item">
                    <a href="<{$url.about}>" class="links">
                      <span>ミッション・思い各ブランドとは？</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="navList__item itemSP">
              <a href="#" class="navLinks contentSP">商品情報</a>
              <div class="contentSP__wrapper"></div>
              <div class="menuSP">
                <ul class="menuList">
                  <li class="menuList__item">
                    <a href="javascript:void(0);" class="links d-flex align-items-center icon -arrGrey">
                      <span>商品カテゴリ</span>
                    </a>
                    <ul class="menuSmall">
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.ghee}>">Ghee</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.ghee}>">Row Honny</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.ghee}>">Supperfood</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.ghee}>">Life</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.ghee}>">Bee Pollen</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menuList__item">
                    <a href="javascript:void(0);" class="links d-flex align-items-center icon -arrGrey">
                      <span>商品カテゴリ</span>
                    </a>
                    <ul class="menuSmall">
                      <li class="menuSmall__item">
                        <a class="link" href="#">Massey Honey Co.</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="#">Backroad Beekeeping</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="#">Rainbow Farms</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="navList__item itemSP">
              <a href="<{$url.recipe}>" class="contentSP navLinks">レシピ</a>
              <div class="contentSP__wrapper"></div>
              <div class="menuSP">
                <ul class="menuList">
                  <li class="menuList__item">
                    <a href="javascript:void(0);" class="links d-flex align-items-center icon -arrGrey">
                      <span>商品カテゴリ</span>
                    </a>
                    <ul class="menuSmall">
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">ギーバターについ</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">ケトについて</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">南カリフォルニアは<br>ちみつについて</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">アメリカ産スーパー<br>フード</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">アメリカ産ナチュラル<br>ビューティ</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="<{$url.recipe}>">カリフォルニアアピーガ<br>ンフードについて</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menuList__item">
                    <a href="javascript:void(0);" class="links d-flex align-items-center icon -arrGrey">
                      <span>商品カテゴリ</span>
                    </a>
                    <ul class="menuSmall">
                      <li class="menuSmall__item">
                        <a class="link" href="#">こんにちは！引き続きダイエット真っ只中の奥村です</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="#">こんにちは！引き続きダイエット真っ只中の奥村です</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="#">こんにちは！引き続きダイエット真っ只中の奥村です</a>
                      </li>
                      <li class="menuSmall__item">
                        <a class="link" href="#">こんにちは！引き続きダイエット真っ只中の奥村です</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="navList__item contactClick">
              <a href="#" class="navLinks">問い合わせ</a>
            </li>
            <li class="navList__item">
              <a href="<{$url.blog}>" class="navLinks">BLOG</a>
            </li>
          </ul>
        </div>
        <!-- <div class="headerCnt__inquiry">
                  <a href="#" class="navLinks"><span>ログイン</span></a>
              </div> -->
      </div>
      <p class="js__hamburger">
        <span></span>
        <span></span>
        <span></span>
      </p>
    </div>
  </div>
  <div class="menu menu1">
    <div class="bg_grey">
      <div class="inner">
        <div class="menu__area">
          <div class="menu__box">
            <ul class="nav menuList d-flex">
              <li class="menuList__item">
                <a href="<{$url.keto}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/img-01.png" alt="レインボーファームとは？"></div>
                  <span class="icon -arrGreen">レインボーファームとは？ </span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>about" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/common/img-02.png" alt="ミッション・思い各ブランドとは？"></div>
                  <span class="icon -arrGreen">ミッション・思い各ブランドとは？</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu otherMenu menu2">
    <div class="bg_grey">
      <div class="inner">
        <div class="menu__area">
          <div class="menu__box">
            <p class="menu__boxTitle">
              商品カテゴリ
            </p>
            <ul class="nav menuList d-flex">
              <li class="menuList__item">
                <a href="<{$url.ghee}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/ghee/img-header-01.png" alt="レインボーファームとは？"></div>
                  <span class="icon -arrGreen">Ghee</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.ghee}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/ghee/img-header-02.png" alt="Row Honny"></div>
                  <span class="icon -arrGreen">Row Honny</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.ghee}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/ghee/img-header-03.png" alt="Supperfood"></div>
                  <span class="icon -arrGreen">Supperfood</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.ghee}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/ghee/img-header-04.png" alt="Life"></div>
                  <span class="icon -arrGreen">Life</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.ghee}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/ghee/img-header-05.png" alt="Bee Pollen"></div>
                  <span class="icon -arrGreen">Bee Pollen</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu__box">
            <p class="menu__boxTitle">
              ブランド一覧
            </p>
            <ul class="nav menuList d-flex">
              <li class="menuList__item memnuList-wid">
                <a href="#" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-01.png" alt="Massey Honey Co."></div>
                  <span class="icon -arrGreen">Massey Honey Co.</span>
                </a>
              </li>
              <li class="menuList__item memnuList-wid">
                <a href="#" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-02.png" alt="Backroad Beekeeping"></div>
                  <span class="icon -arrGreen">Backroad Beekeeping</span>
                </a>
              </li>
              <li class="menuList__item memnuList-wid">
                <a href="#" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-brand-03.png" alt="Rainbow Farms"></div>
                  <span class="icon -arrGreen">Rainbow Farms</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu otherMenu menu3">
    <div class="bg_grey">
      <div class="inner">
        <div class="menu__area">
          <div class="menu__box">
            <p class="menu__boxTitle">
              おすすめレシピ
            </p>
            <ul class="nav menuList d-flex">
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-01.png" alt="ギーバターについて"></div>
                  <span class="icon -arrGreen">ギーバターについて</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-02.png" alt="ケトについて"></div>
                  <span class="icon -arrGreen">ケトについて</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-03.png" alt="南カリフォルニアはちみつについて"></div>
                  <span class="icon -arrGreen">南カリフォルニアはちみつについて </span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-04.png" alt="アメリカ産スーパーフード"></div>
                  <span class="icon -arrGreen">アメリカ産スーパーフード</span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-05.png" alt="アメリカ産ナチュラルビューティ"></div>
                  <span class="icon -arrGreen">アメリカ産ナチュラルビューティ </span>
                </a>
              </li>
              <li class="menuList__item">
                <a href="<{$url.recipe}>" class="links">
                  <div class="menuList__img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/recipe/img-menu-06.png" alt="カリフォルニアアピーガンフードについて"></div>
                  <span class="icon -arrGreen">カリフォルニアアピーガンフードについて</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="instagram">
            <div class="title-buttom">
              <h2 class="title">@RainbowFarms</h2>
            </div>
            <div class="instagram-box">
              <div class="box">
                <a href="<{$url.instagram}>">
                  <div class="img">
                    <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
                    <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
                  </div>
                </a>
              </div>
              <div class="box">
                <a href="<{$url.instagram}>">
                  <div class="img">
                    <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
                    <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
                  </div>
                </a>
              </div>
              <div class="box">
                <a href="<{$url.instagram}>">
                  <div class="img">
                    <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
                    <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
                  </div>
                </a>
              </div>
              <div class="box">
                <a href="<{$url.instagram}>">
                  <div class="img">
                    <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
                    <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menuWrapper"></div>
</header>