<div class="topHealthy">
  <div class="title-buttom">
    <h2 class="title">ヘルシーコラム</h2>
    <div class="btn"><a href="./recipe/index.html">もっと見る</a></div>
  </div>
  <div class="topHealthy-box">
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-01.jpg" alt="ギーバターについて "></div>
        <p class="txt">ギーバターについて </p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-02.jpg" alt="ケトについて"></div>
        <p class="txt">ケトについて</p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-03.jpg" alt="南カリフォルニア生はちみつについて"></div>
        <p class="txt">南カリフォルニア生はちみつについて</p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-04.jpg" alt="アメリカ産スーパーフード"></div>
        <p class="txt">アメリカ産スーパーフード</p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-05.jpg" alt="アメリカ産ナチュラルビューティ"></div>
        <p class="txt">アメリカ産ナチュラルビューティ</p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/index.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ht-06.jpg" alt="カリフォルニアアピーガンフードについて"></div>
        <p class="txt">カリフォルニアアピーガンフードについて</p>
      </a>
    </div>
  </div>
</div>