<div class="instagram">
  <div class="title-buttom">
    <h2 class="title">@RainbowFarms</h2>
    <div class="btn"><a href="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg">もっと見る</a></div>
  </div>
  <div class="instagram-box">
    <div class="box">
      <a href="https://www.instagram.com/p/CL5n6Jnh7P9/">
        <div class="img">
          <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
          <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
        </div>
      </a>
    </div>
    <div class="box">
      <a href="https://www.instagram.com/p/CLxejiqh5ZI/">
        <div class="img">
          <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
          <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
        </div>
      </a>
    </div>
    <div class="box">
      <a href="https://www.instagram.com/p/CLsvlz_hNgN/">
        <div class="img">
          <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
          <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
        </div>
      </a>
    </div>
    <div class="box">
      <a href="https://www.instagram.com/p/CLnmT-kML--/">
        <div class="img">
          <img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-ins-01.jpg" alt="">
          <p class="txt">こんにちは！引き続きダイエット真っ只中の奥村です</p>
        </div>
      </a>
    </div>
  </div>
</div>