<div class="topNewRecipe">
  <div class="title-buttom">
    <h2 class="title">新着レシピ</h2>
    <div class="btn"><a href="#">もっと見る</a></div>
  </div>
  <div class="topNewRecipe-box">
    <div class="box">
      <a href="./recipe/detail.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-06.jpg" alt="なすの肉みそ炒め"></div>
        <p class="txt">なすの肉みそ炒め</p>
      </a>
    </div>
    <div class="box">
      <a href="./recipe/detail.html">
        <div class="img"><img src="https://gigaplus.makeshop.jp/rainbowfarms/Images/new-rainbow/top/img-05.jpg" alt="きのこのおろし和え"></div>
        <p class="txt">きのこのおろし和え</p>
      </a>
    </div>
  </div>
</div>