<div class="top__search">
  <label>商品検索</label>
  <div class="searchForm">
    <input type="search" data-id="<{$search_form.keyword_id}>" value="<{$search.keyword}>" placeholder="キーワードで一括検索">
    <a href="<{$search_form.search_url}>" class="icon__formSeach"></a>
  </div>
</div>